[2014-12-10 02:59] jordansread opened #3 "Add disclaimer to readme"

[2014-12-10 22:39] jordansread opened #5 "password prompt doesn't use password param"
authenticate_sb

[2014-12-11 01:49] jordansread opened #6 "authenticate should fail w/o username"
prompt shows up anyway. Should fail before that.

[2014-12-11 02:39] lawinslow opened #7 "Restrict httr version > 0.5 and RCurl version > 1.95"

[2014-12-11 03:18] lawinslow opened #9 "Fix multiple appended identifiers"
See this example:
https://www.sciencebase.gov/catalog/item/editForm/54890a0be4b0772072e5a653

JSON parsing BS

[2014-12-11 03:30] #3 closed, assigned to nobody

[2014-12-11 12:59] jordansread opened #10 "create "item_exists(scheme, type, key)" function"

[2014-12-11 17:38] #10 closed, assigned to nobody

[2014-12-12 14:47] #5 closed, assigned to nobody

[2014-12-12 14:47] #6 closed, assigned to nobody

[2015-01-12 14:42] jread-usgs opened #14 "item_file_download should download all item files when names is missing"
currently fails when `name` is missing

[2015-01-12 14:45] jread-usgs commented on #14
Also, does this function need to check for mismatch with the extension of the specified file and the actual file? i.e., passing ....csv as `destination` when the actual file is a .zip?

[2015-01-12 15:49] jread-usgs opened #15 "doc on query_item_id wrong for no match return"
Says it returns a NULL when no matching item found:

[code]

[2015-01-12 15:58] jread-usgs opened #16 "example on item_list_children returns d.f of NAs"
[code]

[2015-01-12 15:58] jread-usgs commented on #16
[code]

[2015-01-12 16:02] jread-usgs commented on #15
vs specifying type = 'ts_doobs' returns an item id

[2015-01-12 16:37] jread-usgs commented on #16
Seems to be for all items of this call that I have tried so far.

[2015-01-12 16:57] jread-usgs commented on #15
Looked into this w/ luke. Going to remove requirement that type must be specified if key and scheme are both specified.

[2015-01-12 20:55] jread-usgs opened #18 "item_list_files returns NA when site doesn't exist"
instead of NULL or df with nrow = 0.

when
[code]

[2015-01-12 20:58] jread-usgs commented on #18
this should be handled in `item_get`

[2015-01-12 21:02] lawinslow commented on #18
Why are you passing item_list_files a data.frame?

[2015-01-12 21:08] jread-usgs commented on #18
oh, was actually passing it NULL. but same result.

[2015-01-12 21:09] jread-usgs commented on #18
Any reason not to do this?

https://github.com/jread-usgs/sbtools/commit/a462b3233096cfd6477225ff2ae32f3d424d838e

[2015-01-12 21:10] #16 closed

[2015-01-12 21:11] #15 closed

[2015-01-12 21:11] lawinslow commented on #18
No, seems reasonable

[2015-01-13 03:21] jread-usgs commented on #18
handled in recent PR

[2015-01-13 03:21] #18 closed

[2015-01-13 05:14] jread-usgs opened #20 "test for success for POST/PUT?"
see https://github.com/USGS-R/mda.streams/issues/32

[2015-01-13 05:27] jread-usgs opened #21 "wrap RCurl error for outdated token"
make this make more sense to people that their session is out of date:
[code]

[2015-01-13 13:30] jread-usgs opened #22 "handle json parsing errors elegantly?"
`Error in parseJSON(txt) : parse error: premature EOF
                                       {"total":1,"selflink":{"rel":"s
                     (right here) ------^ `

[2015-01-13 13:44] lawinslow commented on #22
Got an example that creates that? What function are you using?

[2015-01-13 13:46] jread-usgs commented on #22
just `post_nwis_ts`, which runs all sites for a given nwis p_code. Eventually it gets a bad response from SB (json-wise) and fails. It is not the site or data, just funky response and the site runs fine the next time. Could catch within the function, but it probably is something that could be in `sbtools` instead. Your call.

[2015-01-13 13:49] lawinslow commented on #22
How would you want it handled? Do you want it to re-try? I'd say it is better to fail quickly, and a reported JSON parsing error isn't the least descriptive error. Could wrap all errors in a generic SB communication error, but that could make diagnosing issues problematic in the future.

[2015-01-13 15:08] jread-usgs opened #23 "Need item_list_parent()"
reverse of item_list_children()

[2015-01-13 15:26] jread-usgs opened #24 "item_list_files() should handle a NULL (or missing) session"
for public items.

[2015-01-13 15:27] jread-usgs opened #25 "item_list_files(id, session) returns d.f with NAs when no files exist"
should be d.f w/ zero rows per design pattern

[code]

[2015-01-13 15:50] jread-usgs commented on #22
Here is the full trace:

[code]

[2015-01-14 06:24] sckott opened #26 "Some initial feedback"
* curl options - I'd suggest using `...` or similar to allow curl options to be passed
into `GET`/`POST`/etc.
* authentication: I haven't dug into this, but i imagine passing in the
`session` bit to each function call makes sense more so if there are multiple
potential accounts a user could have, while if a user will only ever have
one, then perhaps the auth function could be run once by a user, a

[2015-01-14 22:50] lawinslow commented on #26
@sckott, what uses do you think passing the curl options would have? Are you referring to supplying additional or different query parameters?

Right on about authentication. It was kinda a stopgap measure to get the project rolling.

[2015-01-14 23:17] sckott commented on #26
@lawinslow for curl options I'm talking about this stuff http://ropensci.org/blog/2014/12/18/curl-options/ - not to plug my own blog post, but just easier to point to that - basically for curl debugging, etc. - Some non-debugging usage too, like printing `progress()`, and setting a `timeout()`  so that a call fails if it hasn't succeeded within a certain time frame.

[2015-01-15 14:05] lawinslow commented on #26
Ah, excellent point. Thanks!

[2015-01-29 20:16] sckott opened #28 "ncdf"
saw mention of ncdf in the proposal and had a comment (and I don't work with ncdf formats much, so I'm kinda clueless here):

I hear from Roy Mendelssohn at NOAA that the `ncdf` package http://cran.r-project.org/web/packages/ncdf/index.html only works with older ncdf format. True?  But this pkg is nice b/c it installs on all OS'es.

Roy said to instead use `ncdf4` http://cran.r-project.org/web/pac

[2015-01-29 20:23] lawinslow commented on #28
Yeah, most of the use I generally run into involves netcdf 3 standards. My opinion, we support netcdf 3 until there is cross-platform netcdf 4 support. We could think about an abstraction layer that used netcdf4 and fell back to the old package when not available (the APIs are VERY similar).

[2015-01-29 21:18] sckott commented on #28
@lawinslow Okay, sounds good.

[2015-02-02 15:55] jread-usgs commented on #21
Ran into this again today. upvote :+1:

[2015-02-02 20:44] #7 closed

[2015-02-02 20:54] #21 closed

[2015-02-02 21:22] #24 closed

[2015-02-02 21:27] #25 closed

[2015-02-02 21:27] #23 closed

[2015-02-02 21:40] #14 closed

[2015-02-02 21:56] jread-usgs opened #32 "add a get_parent function?"
Does this fit in sbtools?

quick way to do it is this:

[code]
but we would ask for item json twice per id. Any better way to do this?

[2015-02-02 21:57] jread-usgs commented on #32
and ignore the hardcoding of sciencebase.gov etc. Was just a quick way to grab parent site name

[2015-02-02 23:09] lawinslow commented on #32
We could get the parentId without hitting the `/item/` controller, but I'm unaware of a way to get an item based on its ancestors. Basically, what you're asking is if you can query an item based on its ancestors. Quick test of what I'd think the syntax to be doesn't work, so we'd need to talk to SB people.

[2015-02-03 01:47] jread-usgs commented on #32
How do you get parentID in that way? (w/o hitting the controller?)

[2015-02-03 09:25] jread-usgs commented on #23
Did you try this out?

[code]
is valid public item: https://www.sciencebase.gov/catalog/item/54b4adf9e4b01939b4ef7336

[2015-02-03 09:30] jread-usgs commented on #23
This https://github.com/USGS-R/sbtools/blob/master/R/item_get_parent.R#L19
[code]
is already in `item_get`, which is called above

[2015-02-03 09:51] jread-usgs commented on #32
This is duplicated in #23

[2015-02-03 09:51] #32 closed

[2015-02-18 20:26] lawinslow opened #34 "File Download feedback"
from @dblodgett-USGS

We could return a list of all files downloaded with their paths, regardless of if the user supplied file names or if names were generated. This would be more useful than TRUE.

[2015-02-18 20:46] dblodgett-usgs commented on #34
Here's an implementation that more or less does it.

https://github.com/dblodgett-usgs/hydroRsb/blob/master/R/model_file_download.R

[2015-03-05 20:07] jread-usgs opened #37 "support upsert (or PUT) for modifying a file attachment"
tried this with `item_append_file()`, but it supports an additional file with the exact same name (does not overwrite).

[2015-03-05 20:07] jread-usgs commented on #37
This is really important to a deadline I have coming up so I am going to give it a shot. Feedback/suggestions welcome.

[2015-03-05 20:17] jread-usgs opened #38 "item_remove_file method"
not the upsert I'm after in #37 , but simpler to implement and useful for other things. @lawinslow thoughts on whether this is worth adding?

[2015-03-05 20:45] jread-usgs commented on #38
this will remove all files, and uses `PUT`: `item_update(id,list('files'=vector()), session = authenticate_sb())`

[2015-03-06 14:30] jread-usgs commented on #37
`item_replace_files`, which would be a PUT. Used by `item_remove_files`, which would provide json as `list('files'=vector())`

[2015-03-06 16:41] jread-usgs opened #39 "item_upload_create only posts the first file"
when using multi-length files

[2015-03-06 16:48] jread-usgs commented on #39
I think this is the way this service is supposed to work, as it posts a file and creates an item to contain it. Should probably only have `file` (instead of `files`) as the param. Change doc to and warn if `length(file)!=1`?

[2015-03-06 22:49] jread-usgs opened #41 "check for files before remove"
you get a 404 if the item has >0 files associated with it. Currently checks for children but not files

[2015-03-09 15:25] jread-usgs commented on #41
Also looks like you get a 404 even if the DELETE works. The SB is doing it slightly differently, DELETE on https://www.sciencebase.gov/catalog/item/5488bf20e4b02acb4f0c92a4?format=json instead of https://www.sciencebase.gov/catalog/item/5488bf20e4b02acb4f0c92a4. Does it matter?

[2015-03-11 17:01] #37 closed

[2015-03-11 17:01] #38 closed

[2015-03-12 16:14] jread-usgs opened #46 "item_append_files example is wrong"
[code]

[2015-03-12 16:40] #46 closed

[2015-03-13 16:03] jread-usgs opened #47 "For "create" methods, need to return a fail for unauthorized"
for example, `item_upload_create()` will return NULL if you aren't authorized to perform that action

[2015-03-31 15:59] ldecicco-USGS opened #48 "New disclaimer"
We need to adjust the language of the disclaimer on GRAN to:

[code]

[2015-04-03 18:13] jordansread opened #49 "item_upload_create should support an arg for "title""
right now it creates the item with the same name as the file.

[2015-04-03 18:18] jread-usgs opened #50 "item_get_files function?"
should be added? works on item_list_files but w/ a GET()

[2015-04-03 18:22] jread-usgs commented on #50
whoops. this is `item_file_download` and it exists.

[2015-04-03 18:22] #50 closed

[2015-04-03 18:25] jread-usgs opened #51 "improve auth usability"
Might take a look at what we are doing w/ `hazardItems` auth

After auth works, we set pkg.env token and username, and do a token check when session is needed.

[2015-04-03 18:28] jread-usgs opened #52 "support destinations=missing for item_file_download"
would default to using `names` and `dest_dir`

[2015-04-03 23:48] jread-usgs commented on #48
got this on my fork

[2015-04-11 21:27] #48 closed

[2015-04-11 21:29] lawinslow commented on #51
Done in pr #53

[2015-04-11 21:29] #51 closed

[2015-04-11 21:31] #28 closed

[2015-04-11 23:10] lawinslow commented on #39
Ah, this is a super complicated issue.

Notes for future reference:

SB can handle multiple files for this type of upload. File upload and update and upload and create seem to be very [similar endpoints](https://my.usgs.gov/confluence/display/sciencebase/Uploading+Files+to+ScienceBase). Having issues uploading multiple files may be a fluke, as I can get both to work with most files. But I can also

[2015-04-11 23:12] lawinslow commented on #49
Note, this needs to be handled by including JSON as part of the body of the request, as per (this documentation)[https://my.usgs.gov/confluence/display/sciencebase/Uploading+Files+to+ScienceBase]. But before that will work, #39 needs to be figured out.

[2015-04-11 23:25] jread-usgs commented on #49
gotcha. ok, that makes sense.

[2015-04-16 15:24] lawinslow opened #55 "Fix error handling when item has no files attached"
item_file_download fails cryptically, as does item_list_files

[2015-04-16 18:08] jread-usgs opened #56 "Add testing suite"

[2015-04-16 18:10] jread-usgs opened #57 "Ability to add curl options"

[2015-04-16 18:13] jread-usgs opened #58 "Create basic user vignette"
@mhines-usgs any interest in helping out with this?

[2015-04-16 18:14] mhines-usgs commented on #58
@jread-usgs yes, sure

[2015-04-16 18:15] jread-usgs opened #59 "abstract upload data.frame to file on SB"
Deals with compression (if necessary)

append?

[2015-04-16 18:16] jread-usgs commented on #59
and download and load as one step (see `powstreams` implementation of this for an example)

Also, load from supported files?

[2015-04-16 18:21] jread-usgs opened #60 "define data query interface for generic searches"
Use case is wanting to find public data based on spatial and/or keywords and type etc.

[2015-04-16 18:22] jread-usgs commented on #60
using elastic search on SB end

[2015-04-16 18:25] jread-usgs opened #61 "get sandbox test account from SB"

[2015-04-16 18:29] jread-usgs commented on #58
html vignette similar to `hazardItems`?

[2015-04-16 18:32] jread-usgs opened #62 "Use EML to automatically generate metadata?"

[2015-04-16 18:33] jread-usgs opened #63 "support metadata entry more explicitly"

[2015-04-16 18:34] mhines-usgs commented on #58
@jread-usgs roger

[2015-04-16 18:42] jread-usgs commented on #56
- [ ] add testthat
- [ ] add coveralls + badge

[2015-05-16 00:37] aappling-usgs opened #65 "query_item_identifier fails to return an existing item"
I think `query_item_identifier` is supplying a new, incorrect session when the `session` arg is not explicitly set. This may be because this test passes if `session` is undeclared in the args, even though the default to `session` is `current_session()`:

[code]
So there might be two problems. 1, the session gets reset to handle(pkg.env$url_base) even when you think you're choosing the default arg

[2015-05-16 01:16] lawinslow commented on #65
Yup, nice find. PR coming.

[2015-05-16 01:29] #65 closed

[2015-05-26 13:18] jordansread opened #67 "create function to modify privacy of item"

[2015-06-11 17:57] jread-usgs opened #69 "check_auth function should only check and re-auth if !is.null(session)"

[2015-06-11 17:57] jread-usgs opened #70 "use local session timeout before hitting re-auth service"
local timeout of 55 minutes, as a pkg.env var

[2015-06-11 19:57] jread-usgs opened #72 "session_check_reauth doesn't return a session object"
seems to break the pattern of being able to pass around sessions.

Thoughts @lawinslow ?

[2015-06-15 14:19] jread-usgs opened #73 "get smarter about using httr::content()"
From httr::content:
When using content() in a package, DO NOT use on as = "parsed". Instead, check the mime-type is what you expect, and then parse yourself. This is safer, as you will fail informatively if the API changes, and you will protect yourself against changes to httr.

See https://github.com/hadley/httr/issues/246

Currently, this is speckled throughout the package.

[2015-06-15 14:19] #69 closed

[2015-06-15 14:19] #70 closed

[2015-06-15 15:00] ldecicco-USGS opened #74 "item_append_files wipes out identifier"
[code]
I can add:
[code]
after each `item_append_files`...but sometimes I get an error that there already is an identifier...presumably adding in a lag might prevent that.

[2015-06-15 16:40] jread-usgs commented on #73
handling this appropriately would allow us to drop `XML` from Imports

[2015-06-18 17:43] jread-usgs opened #77 "refresh birthday of session attribute with successful POST or GET"
internal tracking of session stale should be re-upped here.

[2015-06-19 16:31] aappling-usgs opened #78 "... applies to multiple internal GET/PUT calls in item_update_identifier"
as I'm adding dots arguments today to pass to curl, this is the first case i've seen where the same dots have to be passed to multiple functions - in this case, within `item_update_identifier`, the dots go to both `query_item_identifier` and to `sbtools_PUT`. I'm introducing this oddity because I don't know how else to handle the dots - should we be accepting two different well-formed, single-item

[2015-06-19 16:37] aappling-usgs opened #79 "Let users pass options to httr::GET/POST/PUT/DELETE through ..."
The motivating example is `timeout()`, which users may occasionally need to specify.

[2015-06-19 16:37] aappling-usgs commented on #78
this issue emerged in addressing #79

[2015-06-19 16:44] aappling-usgs commented on #79
`sbtools_GET`, `sbtools_PUT`, etc. have dots now. need to push them up one level, to functions that call those helpers. These end up being:

sbtools_GET
- item_file_download
- item_get
- item_list_children
- query_items
- query_item_identifier

sbtools_POST
- item_append_files
- item_create
- item_upload_create

sbtools_PUT
- item_update_identifier

sbtools_DELETE
- item_rm

these will need to be

[2015-06-19 16:50] aappling-usgs commented on #79
functions to trace back:

item_append_files
item_create
item_file_download
item_get
item_list_children
item_rm
item_update
item_update_identifier
item_upload_create
query_items
query_item_identifier

[2015-06-21 12:37] aappling-usgs commented on #79
approach: within sbtools functions, in calls to GET, sbtools_GET, etc., include dots before any named config arguments. this allows the user to pass something named config if they so please.

[2015-06-21 12:40] aappling-usgs opened #80 "add error checking to sbtools_PUT, sbtools_DELETE"
check the output and provide user-friendly error messages.

[2015-06-21 12:42] aappling-usgs commented on #57
is #79 redundant with this one? if so, oops/sorry.

[2015-06-21 12:43] jread-usgs commented on #57
that one is better. @sckott your request to add curl options has been moved over to #79

[2015-06-21 12:43] #57 closed

[2015-06-21 12:44] aappling-usgs commented on #79
motivation for this issue originally came from @sckott issue #26

[2015-06-21 13:09] jread-usgs commented on #58
:+1: upvote!

[2015-06-21 13:09] jread-usgs commented on #56
want the coveralls badge? or should we call this done?

[2015-06-21 13:10] jread-usgs commented on #20
related to #73

[2015-06-22 12:13] jread-usgs commented on #77
This is in place, but is not used. The trouble is sessions that can come from package or be passed in as an arg. I can reset the age if it is a package var, but the user passed in session doesn't get returned after being modified, so that is pointless.

[2015-06-30 17:27] lawinslow opened #85 "Fix use of deprecated functionality"
[code]
Noticed in PR #83

[2015-07-17 16:08] aappling-usgs commented on #39
upvoting - this would be nice to have if it can be made to work.

[2015-07-17 16:09] #79 closed

[2015-07-17 16:09] jread-usgs commented on #39
:+1:

[2015-07-17 16:10] jread-usgs commented on #58
:100: :+1:

[2015-07-17 16:12] aappling-usgs opened #88 "multi-file API calls"
SB allows you to post, put, upsert, and delete multiple items at once. to my knowledge this isn't yet possible via sbtools, but boy, would it be nice! see https://my.usgs.gov/confluence/display/sciencebase/ScienceBase+Catalog+Item+REST+Services

[2015-07-17 18:06] mhines-usgs commented on #58
this is a super sad old task. i'll try to do in the next week if you are basically poking me to do that...

[2015-07-17 18:11] jread-usgs commented on #58
@mhines-usgs we can reassign too. Just thinking that because @lawinslow is featuring this package in an upcoming R email, it would be good to have a dec readme or vignette in place

[2015-07-17 18:39] lawinslow commented on #58
I want to get money to Scott before we go too much further. It's important to get him involved and I'd like to have discussions on API and architecture before we go about making vignettes.

[2015-07-17 18:40] lawinslow commented on #58
I'm going to close this for now and make an additional note in the announcement that the package is in "experimental phase"

[2015-07-17 18:40] #58 closed

[2015-07-17 18:47] jread-usgs commented on #58
Can you stick something in the readme?

[2015-08-07 21:21] aappling-usgs opened #89 "add files without losing tags"
Dell says fetch the item, send the item JSON back in with the post - see Dell's pysb package for an example

[2015-08-07 21:21] aappling-usgs opened #90 "take advantage of josso service to know whether logged in"
this is a service you can query to tell whether you're logged in...but you need a josso ID. once you've acquired a session, you can use this service to send in the session object and see whether it's still active

[2015-08-07 21:23] aappling-usgs commented on #90
`catalog/jossoHelper/sessionInfo?includeJossoSessionID=true&josso=xxxxxxxxx`
(but includeJossoSessionID is optional, and josso=xxxx may also be optional since that will be sent with the session info anyway)

[2015-08-07 21:29] aappling-usgs commented on #90
you can also keep a session alive by hitting this lightweight status (or the josso helper) every 10 minutes: `catalog/status?format=json`. it returns a status number. 0 is good, 1 is warning, 2 is bad

[2015-08-07 21:30] jread-usgs commented on #90
https://www.sciencebase.gov/catalog/jossoHelper/sessionInfo?includeJossoSessionId=true

[2015-08-07 21:31] jread-usgs commented on #90
hitting this counts as a session refresh: https://www.sciencebase.gov/catalog/status?format=json

[2015-08-07 21:32] aappling-usgs commented on #89
https://my.usgs.gov/stash/projects/SBE/repos/pysb/browse

[2015-08-07 21:44] aappling-usgs opened #91 "simplify/speed up deleting an item"
you only have to delete child items, not child files, before you delete an item. you also probably shouldn't have to wait once you've told SB to delete the child items. we should first collect a list of SB IDs and then delete them all by ID, rather than paging through the search results, deleting one page worth, and then going to the next page of search results.

also, you can delete multiple file

[2015-08-07 21:46] jread-usgs commented on #89
:+1: :100:

[2015-08-13 18:27] jread-usgs commented on #77
"I promised to update you about a "keep-alive" or "ping" method.  We do have a ping REST endpoint you can use see if ScienceBase is there, https://www.sciencebase.gov/catalog/item/ping?format=json.  For a keep-alive, it turns out the session info URL above works the best:  https://www.sciencebase.gov/catalog/jossoHelper/sessionInfo.  If you also have your josso parameter set, that will return isLo

[2015-08-19 19:27] sckott opened #92 "DESCRIPTION file changes"
could use a few fixes:

* Maybe replace `Repository` with `URL` and `BugReports` - also, repo is listed as `lawinslow/sbtools` instead of `USGS-R/sbtools`
* To make CRAN humans happy:
    * `Title` field needs to be sentence  case
    * `Description` field likely needs to be a bit longer, including URL for sciencebase, and description of what Sciencebase is.

I can send a PR if you want...

[2015-08-19 19:28] lawinslow commented on #92
yeah, please do!

[2015-08-19 19:29] sckott opened #93 "Examples/documentation"
I don't see much documentation on how to use `sbtools`

Would you be up for adding examples to the README? and/or a vignette or two?

Also, the functions themselves don't seem to have any examples. If you'd rather not do that, no worries

[2015-08-19 19:30] sckott opened #94 "Package level manual file"
Would it be okay to add a package level man file?  e.g., `sbtools-package.R`

That would contain info on the package as a whole, and would be found in R by executing either `?sbtools` or `?sbtools-package`

I can send a PR if you want this

[2015-08-19 19:32] aappling-usgs commented on #94
:+1:

[2015-08-19 19:42] sckott opened #95 "Optionally store username and password as options or env vars?"
For `authenticate_sb()` would you be interested in allowing retrieval of auth strings within the function?

Could use either options (via `getOption()`) or env vars (via `Sys.getenv()`) - either in the function definition itself, e.g,.

[code]

Or within the function e.g.,

[code]

[2015-08-19 19:48] sckott commented on #94
cool, will do

[2015-08-19 19:49] lawinslow commented on #95
Eh, I'm hoping to prevent any plain-text storage of passwords where possible.

[2015-08-19 19:51] lawinslow commented on #93
Both are welcome. Generally, documentation was lacking while we were writing things for specific project work, not based on a decision to exclude them.

[2015-08-19 19:51] sckott commented on #95
What do you mean?  You mean prevent users from storing them on their machine? Or prevent from storing in the R session?

[2015-08-19 19:55] lawinslow commented on #95
Both. I'm a little uncomfortable with the ability to pass the password into a function, which could leave it around in R history. But I think we should leave that for now.

[2015-08-19 20:11] sckott commented on #95
okay, makes sense

feel free to close

[2015-08-19 20:13] #95 closed

[2015-08-19 23:07] sckott commented on #93
Cool, will do some. Just scratching my own itch to learn how to use the pkg better

[2015-08-21 21:12] #94 closed

[2015-08-21 21:12] #92 closed

[2015-08-25 20:32] ldecicco-USGS opened #98 "Error in sbtools_GET"
https://github.com/USGS-R/sbtools/blob/master/R/REST_helpers.R#L39

does not support the type I would like to get, which is:

"text/csv"

[2015-08-25 20:34] lawinslow commented on #98
Do you have an example item I can test against?

[2015-08-25 20:40] ldecicco-USGS commented on #98
[code]
Let me know if you can/can't see it

[2015-08-25 20:42] jread-usgs commented on #98
works with my branch fix @ldecicco-USGS, but it is a cheesy solution and we should handle this differently. I forget were our convo ended, but `unsupported` types would be more robust than `supported` types. I think there was a different way to check that we were ending up returning login content, but I can't remember.

[2015-08-25 21:10] lawinslow commented on #98
@ldecicco-USGS want to close when you confirm #99 fixes this?

[2015-08-25 21:12] ldecicco-USGS commented on #98
Thanks all

[2015-08-25 21:12] #98 closed

[2015-08-26 15:53] sckott opened #101 "Build on Travis against multiple R versions"
https://github.com/metacran/r-builder

Pretty easy to use - I use it on a number of my packages. If not needed, no worries. The builds for each R version run at the same time, so it should only take as long as 1 build takes now. However, it doesn't appear to work with the new travis file setup using `language: r`, etc. if that matters

[2015-08-26 16:10] lawinslow commented on #101
Any clue how long travis will be ok with sudo:required? Is that going to be around for a long time, or are they going to start deprecating non-container based builds?

[2015-08-26 16:11] sckott opened #102 "session_age_reset not defined in the pkg"
`session_age_reset()` playing with the code now, I don't see this fxn defined anywhere. thoughts?

[2015-08-26 16:12] lawinslow commented on #102
Just fixed it in #100. Was lost in a failed merge.

[2015-08-26 16:12] #102 closed

[2015-08-26 16:14] sckott commented on #101
AFAIK, there's not going to be deprecation, but I don't know.

Looks like Gabor's looked into using container based, but sounds like it's no faster https://github.com/metacran/r-builder/issues/20

[2015-08-26 16:15] sckott commented on #102
:rocket:

[2015-08-26 16:17] lawinslow commented on #101
Ok, good, just curious if there was any known plan

[2015-08-26 17:53] sckott opened #103 "Creating new items requires a parent id?"
Are these the right docs?  https://my.usgs.gov/confluence/display/sciencebase/Creating+and+Modifying+Items#CreatingandModifyingItems-POST:CreateaNewItemdocument

If so, I would think there would be a way to create a new item that doesn't require a parent id. If true, then you have to create a folder/item in the web interface first?

Or am I missing something?

[2015-08-26 17:58] lawinslow commented on #103
Those are the right docs. I'm confused though, what do you mean by

What are you seeing that suggests you can create an item without a parent?

[2015-08-26 18:04] sckott commented on #103
I'm not seeing anything, that's the issue. When I hit the `Add Item` button in the sciencebase GUI, it attached a parentid to the url. Where does that come from? e.g, i just pressed `Add Item`, and the url int he browser has `https://www.sciencebase.gov/catalog/item/editForm/new?parentId=55ddff5de4b0518e354dfceb` where does that parentid come from?

[2015-08-26 18:07] sckott commented on #103
Oh, maybe that's the ID for me (my user account)?

[2015-08-26 18:07] lawinslow commented on #103
Ah, ok, I was being dense.

I think that with the online interface, it defaults to using your current location as the "parent item". So if you're in "my items", which is itself a node in the hierarchy, it uses that.

[2015-08-26 18:08] aappling-usgs commented on #103
Yes, could be the ID for your My Folder. There's a Pick a Destination section in the GUI that let's you decide where to put it, but it probably does start with a default.

![image](https://cloud.githubusercontent.com/assets/12039957/9501849/64292f90-4bf3-11e5-9d5c-466f95aff232.png)

[2015-08-26 18:10] sckott commented on #103
Thanks @lawinslow and @aappling-usgs

So in this package, seems like we should have a way to get that default parentid that the GUI uses

[2015-08-26 18:38] lawinslow commented on #103
Yeah, at least the user's "My Items" root. Not sure of service to get that info. I'll shoot the SB people an email.

[2015-08-26 18:46] sckott commented on #103
:+1:

[2015-08-26 19:36] lawinslow commented on #103
Moment of inspiration. Website seems to hit this URL
https://www.sciencebase.gov/catalog/folder

Which is then redirected to your my items folder. Seems to work with an authenticated session:

`GET('https://www.sciencebase.gov/catalog/folder', handle = current_session())`

Still emailing though.

[2015-08-26 20:47] sckott commented on #73
Agreed @jread-usgs on parsing like `content(result, as = "text")` then parsing separately - Also, unless we're creating XML, would you be interested in switching to `xml2` package?  It only reads xml data, but is AFAIK no slower than XML, and apparently doesn't have memory leaks, etc. like XML has.

[2015-08-26 20:48] sckott opened #105 "Thoughts on package interface"
Seems like there are a variety of different outputs from functions and variety of different inputs. But the `ID` seems to be a common input, and the `item` (or parts of an item) seem like a common output

Perhaps it makes sense to make a standard class for these things, S3 would be simplest. So, an ID could have a class, of name e.g., `sb_id`, and an item of class name e.g., `sb_item`. An `sb_id`

[2015-08-26 21:16] lawinslow commented on #105
Yeah, that sounds like a good idea. I especially like having the option to do both string and object item, making it more flexible. You're thinking two objects, an sb_id and an Item object? Maybe just merge the two? There should always be a 1:1 relationship.

[2015-08-26 21:33] lawinslow commented on #103
There's our answer

https://www.sciencebase.gov/catalog/items?parentId=4f4e4772e4b07f02db47e231&lq=title.untouched:lwinslow@usgs.gov&format=json

[2015-08-26 21:40] sckott commented on #105
Right, two objects. You could just have one.  I guess if you have an ID like `2349asdfasdf0898908`, then you can just coerce that into the class (whatever the class is called) e.g., like `as.sb("2349asdfasdf0898908")`, where the object just consists of the ID, and a print method would just print the ID and leave any other things that you want to print blank

[2015-08-26 22:13] sckott commented on #103
Nice find on https://github.com/USGS-R/sbtools/issues/103#issuecomment-135148204

Hmmmm, we still need to get the `parentId` in https://www.sciencebase.gov/catalog/items?parentId=4f4e4772e4b07f02db47e231&lq=title.untouched:lwinslow@usgs.gov&format=json

How do we get that?

[2015-08-26 22:28] lawinslow commented on #103
I think the parent ID in that query doesn't change. If I understand correctly, I think it might be the master parent ID of all `My Items` children. If you do the query for your user while logged in, do you get your My Items ID?

[2015-08-27 14:01] #93 closed

[2015-08-27 18:10] sckott commented on #103
i'll check...

[2015-08-27 18:55] sckott commented on #103
using that parentid in the url above:

[code]

does give back in `$items[[1]]$link$url` a URL with the same ID that I see in the browser - perfect!

Should I add a function to get this ID for an authenticated user?

[2015-08-27 19:02] sckott commented on #103
here's a draft function

[code]

[2015-08-31 16:14] lawinslow commented on #73
I'm all for switching to xml2 package. Does it also eliminate the external XML library dependency on *nix?

[2015-09-09 22:56] sckott commented on #91
@aappling-usgs What does this process look like right now using this pkg?

[2015-09-09 22:57] sckott commented on #90
Doesn't #81 close this ?

[2015-09-09 23:19] sckott commented on #56
Codecov is another option. I think I like it more than coveralls...The badge is nice to have :)

[2015-09-09 23:22] sckott commented on #55
This currently gives an empty data.frame, `55f0b70ce4b0dacf699ead75` is an item in my account with no files in it.

[code]

Do you want different behavior?

[2015-09-09 23:26] sckott commented on #39
With the current version on master, this works for me:

[code]

result in GUI

<img width="770" alt="screen shot 2015-09-09 at 4 24 50 pm" src="https://cloud.githubusercontent.com/assets/577668/9776645/5abe6f3e-570f-11e5-863f-a344b71f5ff7.png">

But doesn't work if files are in a `list()`, but that could be fixed easily i imagine within the helper fxn `multi_file_body`

[2015-09-09 23:37] aappling-usgs commented on #91
Here's an example of where I arrived this summer. I now think I'm being too cautious (e.g., in waiting for child items to delete). https://github.com/USGS-R/mda.streams/blob/master/R/delete_site.R. In this project, a site is an SB item that has several child items, each of which probably has a file attached. I headed toward a more general function here: https://github.com/USGS-R/mda.streams/blob/m

[2015-09-09 23:38] sckott commented on #49
Hmm, played around with this a bit - can't get a title sent through the query either in query args or in the body...

[2015-09-10 00:10] sckott commented on #91
thanks!

[2015-09-10 00:35] sckott commented on #91
@aappling-usgs AFAI can tell, there's no way around having to delete all files within a folder/item before deleting that folder/item, correct?

[2015-09-10 00:45] aappling-usgs commented on #91
I do think you have to delete all child items. Dell said you didn't have to delete all files, and he's the expert, but I haven't checked that statement myself.

[2015-09-10 01:41] sckott commented on #105
@lawinslow should I start fleshing this out?

[2015-09-10 02:14] sckott opened #108 "sbtools_DELETE returns session handle"
Seems like this isn't the desired output?

Perhaps return the output from the `DELETE()` call?

[2015-09-10 13:25] rerickson-usgs opened #109 "Feed back on disclaimer"
I installed sbtools on my Windows 7 USGS computer (R version 3.2.1). The disclaimer "This information is preliminary or provisional and is subject to revision..." is much longer than one line and I had trouble scrolling through it to read it all. Perhaps you add in some line breaks. (This is a Windows R problem more than anything else. If I recall correctly, emacs ess and OS X R all have word wrap

[2015-09-10 15:02] lawinslow commented on #109
That's a great point. Thanks for the note!

[2015-09-10 15:07] lawinslow commented on #109
fixed in #110

[2015-09-10 15:07] #109 closed

[2015-09-10 15:07] #103 closed

[2015-09-10 15:10] lawinslow commented on #108
Good point. Maybe we could have it check the return value and give TRUE/FALSE for success/failure. Seems to be the approach other delete functions take in various programming languages.

[2015-09-10 15:11] lawinslow commented on #105
Yeah, I'm totally on board with this approach. Go for it!

[2015-09-10 15:11] sckott commented on #108
Right, sometimes they return nothing to the user, but that doesn't seem very user friendly

[2015-09-10 15:12] sckott commented on #108
should I do that?

[2015-09-10 15:13] sckott commented on #105
:+1:

[2015-09-10 15:17] lawinslow commented on #108
Yeah. TRUE/FALSE is go.

Also, just realized, I think sbtools_PUT and _DELETE should be returning `r`, the response, not an invisible session object (from `session_age_reset`). Right?

[2015-09-10 15:17] sckott commented on #108
Yeah, I think so

[2015-09-10 15:20] lawinslow commented on #91
I'm unable to delete an item with children. Perhaps there is a way to do a multi-delete where all children are listed first or something? Or maybe there's way to force it, but it isn't obvious to me. We should table and ping Dell et al.

[2015-09-10 15:28] lawinslow commented on #39
This problem specifically seems to manifest if you're trying to upload non-text or hard to recognize binary files. JSON works fine, but try this on for size.

[code]

[2015-09-10 15:30] sckott commented on #91
@lawinslow here's draft function `item_rm_recursive()` - if interested, i can put in a PR

[code]

[2015-09-10 15:30] lawinslow commented on #55
Ah, this may have been fixed and not closed.

[2015-09-10 15:30] #55 closed

[2015-09-10 16:12] lawinslow commented on #49
Did you see this in [the docs](https://my.usgs.gov/confluence/display/sciencebase/Uploading+Files+to+ScienceBase)?

Did you try creating a JSON file with the title parameter in it and include it as part of the upload?

[2015-09-10 16:18] sckott commented on #49
hmm, maybe not, can try

[2015-09-10 16:21] lawinslow commented on #91
Let's see what we hear from SB team and can bring it in if needed.

[2015-09-10 16:23] #26 closed

[2015-09-10 16:24] #41 closed

[2015-09-10 16:24] aappling-usgs commented on #91
@lawinslow - I think Dell knows & agrees that you can't delete items with children. It's files that are a different story.

@sckott - cool implementation. What do you think about passing multiple items at once to your file_delete function? Is it possible / faster? (Also a little confused about that function name - is it deleting items (as I think) or files (as it's named)? Are items & files more s

[2015-09-10 16:26] aappling-usgs commented on #91
Also interested in the `async` option at some point (https://my.usgs.gov/confluence/display/sciencebase/ScienceBase+Catalog+Item+REST+Services#ScienceBaseCatalogItemRESTServices-AsynchronousPOST,PUT,UPSERT,andDELETE), especially if it's faster for deleting many files.

[2015-09-10 16:28] lawinslow commented on #91
@aappling-usgs You can delete items with files. Just closed #41 which addressed that issue. Want to test it out?

Are you also saying it's known that items with children cannot be deleted? If so, we can bring in a recursive delete and close this issue.

[2015-09-10 16:39] aappling-usgs commented on #91
#41 is good news - yeah, I'll give it a spin. I think I misread your earlier comment in the context of a neighboring comment in the thread, making me think you were conflating files and items this week, but sounds like you're on top of all that. Re: deleting items with children - I do think that's what Dell said, since I created this issue while sitting there with him. I thought that was also what

[2015-09-10 16:44] lawinslow commented on #91
Already pinged the SB team. My guess is there is no "recursive delete" option as it is fairly dangerous. Supply the wrong ID and your whole file tree might be gone (much like the [classic unix horror story](http://lug.wsu.edu/node/414)), but we'll see what they say.

[2015-09-10 16:45] sckott commented on #91
@aappling-usgs `file_delete()` is to delete just one __file__, not an __item__

`item_rm_recursive()` is to delete just one __item__, but to do so recursively through the files and folders within that item. there is a method for deleting many __items__, but that's not this

[2015-09-10 16:47] aappling-usgs commented on #41
yep, just created an item, added a file, and deleted the item. no problem!

[2015-09-10 16:47] lawinslow commented on #91
@sckott we might be able to skip file delete. I think through #111 items with files can be removed without first removing files.

[2015-09-10 16:59] aappling-usgs commented on #91
@sckott - thanks for the clarification.

[2015-09-10 17:22] lawinslow commented on #91
Confirmed. No built-in recursive item and child-item delete.

[2015-09-10 18:18] sckott commented on #91
@aappling-usgs @lawinslow so where does this leave us with this issue?

[2015-09-10 19:00] lawinslow commented on #91
I'd say lets bring the recursive function into sbtools then. There's no way to do it otherwise.

[2015-09-10 19:05] lawinslow commented on #90
I think the Josso service would have been a way using an additional server round-trip to verify status. Let's see how our session refresh counter works in the wild. Could always add the round trip later if we still have issues.

[2015-09-10 19:05] #90 closed

[2015-09-10 19:05] sckott commented on #91
okay, will do

[2015-09-10 20:55] aappling-usgs commented on #89
see #74

[2015-09-10 21:01] aappling-usgs opened #112 "unexpected response in item_update"
When I try to remove files from an item (whether or not the item currently has files), I get the following error:
[code]

The error occurs in `content(r) at item_update.R#26:
[code]
suggesting that the output of sbtools_PUT is unexpected.

[2015-09-10 21:09] #112 closed

[2015-09-10 21:11] sckott opened #114 "folder_create()"
I have a working `folder_create()` fxn, should I PR?

[2015-09-10 21:12] lawinslow commented on #114
Yeah, do it.

[2015-09-10 23:49] sckott commented on #108
appears to have been taken care of in 83b85528eed521cb28d49bb17bf0cdb30dd806a9

[2015-09-10 23:49] #108 closed

[2015-09-11 00:03] aappling-usgs commented on #108
oops - didn't make that connection. sorry, @sckott!

[2015-09-11 00:03] sckott commented on #108
no problem!

[2015-09-11 01:14] sckott commented on #105
Here's a start on `pkgiface` branch https://github.com/sckott/sbtools/tree/pkgiface

The `sbitem` class looks like this:

[code]

Thoughts on this?  Other things to include in that printed object? Things to take out?

* Demonstration of how the basic functionality works https://github.com/sckott/sbtools/blob/pkgiface/R/sb_item.R#L6-L20
* An e.g., w/ `item_get_parent()` https://github.com/sckott/sb

[2015-09-11 01:20] sckott opened #116 "Query interface"
How do you all feel about putting parameters into function definitions vs. leaving it up to the user?

E.g., `query_items()` has the first parameter `query_list` which takes in a list of key-value pairs specifying the query. However, the user has to know what parameters are allowed and what possible values are, etc.  That's cool, but would be nice to have a man file detailing the possible paramete

[2015-09-11 12:49] aappling-usgs commented on #116
I think it'd be awesome to have a man file of query parameters. double :+1:

[2015-09-11 12:59] aappling-usgs commented on #105
Cool!
1) Might want to print out human-meaningful things like Title, Provenance, maybe Children before the machine-meaningful things like Item ID and Parent ID.
2) Very happy about your coersions (`as.sbitem`) in functions that accept IDs (e.g., https://github.com/sckott/sbtools/blob/pkgiface/R/item_get_parent.R#L15) - will be very useful to be able to pass in either sbitems or character strings
3

[2015-09-11 13:01] aappling-usgs commented on #105
(Just noticed y'all have already discussed (2) extensively. Consider my comment yet another thumbs up for that idea.)

[2015-09-11 13:32] jread-usgs commented on #116
:+1: to that!

[2015-09-11 13:54] lawinslow commented on #116
Yeah, every possible option would probably get crazy. We could just flesh out the man file. Something not being in there already is not a sign it isn't a good idea or wanted. A lot of what's there was to move forward on other projects, not necessary complete interfaces. :-P

[2015-09-11 13:55] #114 closed

[2015-09-11 14:16] lawinslow commented on #105
Definitely agree with point 1. On point 3, I'd say leave it for backwards compatibility right now. Also has nice syntactic parallelism. Might be nice even if it's just a wrapper for `as.sbitem`

[2015-09-18 23:37] sckott commented on #105
Will do

[2015-09-19 00:12] sckott commented on #105
@lawinslow @aappling-usgs Okay, updated the print method.

Should i continue to integrate into other functions, fleshing our the rest of the interface

[2015-09-20 18:28] lawinslow commented on #105
Yeah, definitely. Integrate away. I'll have some more time this week to play around with the newly integrated functions. Also going to add a testing account so we can do full POST/Delete tests on objects.

[2015-09-21 18:16] sckott commented on #105
Great, will do

[2015-09-25 18:26] aappling-usgs opened #118 "fail nicely when user isn't logged in"
The problem: A user tries to do something that requires authentication but hasn't called authenticate_sb(). An uninformative error is returned.

There are a lot of cases where this could happen; we've already caught some by running many calls through sbtools_PUT, sbtools_DELETE, etc., which check for authentication as needed and tell the user to log in first. But I just found another case that isn

[2015-09-25 18:36] aappling-usgs opened #119 "item_exists for application to sb id"
`item_exists` will tell you whether a tuple of identifiers specifies an existing item. But suppose I have an SB ID, say, 56059241e4b058f706e514b6, and I want to know whether it exists on SB or not. Is there already a way for me to check that? If not, could `item_exists()` be modified or could a new function be created to perform that check?

[2015-09-25 18:47] aappling-usgs opened #120 "consolidate item_list_children and item_list_children_all"
`item_list_children_all` was written to get the $hasChildren field for an item's children; the core `item_list_children` function only returns id and title. Seems to me the core `item_list_children` function should be able to return such information if requested; if this were true, then `item_list_children_all` could be replaced and removed.

[2015-09-25 19:09] aappling-usgs opened #121 "folders vs items"
I'm confused about items and folders. Can anybody explain the difference to me?

We currently have functions for item_create and folder_create; the only substantive difference I can see is that the latter includes `systemTypes = "Folder"` in the request body. When I create one of each:
[code]
and browse to see them in my folder in ScienceBase:
[code]
I can see that the items have different icons,

[2015-09-25 19:43] aappling-usgs commented on #91
Reopening based on discussion with Luke -- we really would like the dangerous version of this function that deletes all child items and their children. I'm working on a PR for it right now.

[2015-09-25 19:49] aappling-usgs commented on #118
Another case: item_rm fails without a stop() on non-authentication
[code]

In this case, `session_validate` is definitely being called, but it returns TRUE because NULL is a valid session. Maybe we need a function that tells you not just whether the session is valid but whether it implies any authority to manipulate items on SB.

[2015-10-02 23:23] sckott commented on #119
Looking at `item_exists()`, it doesn't look like checking an SB ID fits into that function, but maybe I'm wrong?

Thoughts on this approach:

[code]

[code]

However, I think most other `item_*()` functions take an SB ID as their first argument, so perhaps it makes sense to make `item_exists()` take an SB ID and perhaps use my code above, and take the current code inside `item_exists()` and give i

[2015-10-02 23:28] sckott commented on #120
Hmm, but `item_list_children_all()` is not exported, so not a user facing function. AFAICT it's only used internally in the exported function `item_rm_recursive()`

[2015-10-03 00:16] sckott commented on #121
Yeah, that's kind of weird. The two look different on creation, but yeah, you can add files to a file. I noticed when you do that, that the file then has `systemTypes` equal to `Folder`

That brings up a point, that we could perhaps DRY out our code, and use the same base helper fxn for both `item_create()` and `folder_create()`, and just add `systemTypes = "Folder"` to the latter

[2015-10-03 00:27] sckott commented on #118
First, it we aren't getting an informative error in the http response. We're just getting the `Invalid Query` response, and I can't find any other info in the response to help guide the user.

Second, it looks like we can do checking within each function that we know requires authentication, and stop with error telling user to auth first. Does that seem reasonable?

[2015-10-03 13:38] aappling-usgs commented on #120
True. What I was suggesting is to change the functionality of `item_rm_recursive()` to do everything that `item_list_children_all()` does.

[2015-10-03 13:44] aappling-usgs commented on #118
In the case of `user_id()`, yes, I agree that checking for authentication before the call makes sense, because we should always expect a non-NULL session for that call.

In the case of item_rm(), I'm less sure. There are three possibilities:
1) The user isn't logged in at all. item_rm() should check for is.null(session) and stop if TRUE, like you suggested.
2) The user is logged in and has permiss

[2015-10-03 13:45] aappling-usgs commented on #119
A new function name for the current `item_exists()` makes sense to me.

[2015-10-06 14:06] sckott commented on #119
sound good @lawinslow ?

[2015-10-08 22:30] lawinslow commented on #119
Yeah, sounds good. I think the current `item_exists` could use a new name. Maybe `item_identifier_exists` or something like that? Or it could be a general `item_exists` function which takes either an sbitem, id, or scheme/type/key tuple.

[2015-10-08 22:36] aappling-usgs commented on #119
generally in favor. since all the other `item_...` functions operate on an item, how about a name that doesn't start with `item` at all - maybe `exists_item_identifier` or `identifier_exists`?

[2015-10-08 22:37] lawinslow commented on #119
Yeah, I like `identifier_exists`. In a way, it's a different thing.

[2015-10-08 22:46] sckott commented on #119
should I PR?

[2015-10-08 22:48] lawinslow commented on #119
Sure.

[2015-10-09 01:10] #91 closed

[2015-10-09 21:49] #119 closed

[2015-10-16 01:06] sckott commented on #105
can we close this now given #123 merged?

[2015-10-16 01:10] sckott commented on #120
Hmm, not sure I have an opinion on this. Happy to make changes according to suggestions

[2015-10-16 01:11] sckott commented on #116
should we close given #117

[2015-10-16 04:01] lawinslow commented on #105
Yeah!

[2015-10-16 04:01] #105 closed

[2015-10-16 04:27] sckott commented on #80
working on this

[2015-10-19 20:02] sckott opened #126 "All items gone in Sciencebase"
Curious why all my items are now gone in Sciencebase?  Same for others?

[2015-10-20 02:01] lawinslow commented on #126
Weird. Have you checked back? Sometimes they disappear while they are working on things. Everything seems ok for me on SB.

[2015-10-20 03:00] sckott commented on #126
yep, all gone still, been 5 days now, hmmm, anyway, as long as API is still working...

[2015-10-20 03:15] lawinslow commented on #126
Weird. You want me to contact them and track things down, or just move forward?

[2015-10-20 06:27] sckott commented on #126
I'll work tomorrow probably on this.  Add long as api is back up all will be fine

[2015-10-20 06:27] #126 closed

[2015-10-20 17:03] sckott commented on #126
api working fine

[2015-11-05 02:54] sckott opened #127 "New items/folders are not showing up in my sciencebase web account"
hey all

when creating new items or folders, they don't show up in my scienbase account.

It looks like all is fine using the Sciencebase API, but it's nice to be able to verify that what's happening via the API is showing up in the web interface.

Any thoughts?  Am I the only one?

[2015-11-05 03:20] jread-usgs commented on #127
weird. This sounds really odd to me. I am traveling right now, but would like to check on it when I am back in the office (Friday).

[2015-11-05 06:25] sckott commented on #127
thanks @jread-usgs

[2015-11-06 15:54] aappling-usgs commented on #127
Might have a been a temporary SB issue. I just now had success with the following:

[code]
This gives me a list of items that includes 'himom'. When I navigate to and/or refresh the page at https://www.sciencebase.gov/catalog/folder/[output of user_id()], I see the same item appear.

I did all this right after a git pull from the USGS-R/sbtools master branch and a local rebuild this morning.

Is t

[2015-11-06 16:16] sckott commented on #127
I can create something in the browser, then see it immediately, though creating in sbtools, it doesn't show up in the browser unless I go specifically to that URL

However, just noticed that I have four accounts somehow:

![](https://www.dropbox.com/s/f313gi06qj3481p/Screenshot%202015-11-06%2008.13.54.png?dl=0&raw=1)

Bleh, I changed my password recently, I wonder if that created another account o

[2015-11-06 16:52] aappling-usgs commented on #127
Strange. Sounds like a question for sciencebase@usgs.gov.

[2015-11-06 17:02] sckott commented on #127
emailed, thanks

[2015-11-06 17:07] jread-usgs commented on #127
wow, that is weird. I don't think we have the same issue because we are in the myusgs directory, and your account is handled differently. Looks like SB's bug though.

[2015-11-06 17:08] sckott commented on #127
Okay, makes more sense if my account is separate

[2015-11-06 20:55] sckott commented on #34
I assume this applies specifically to `item_file_download()`?

[2015-11-06 21:02] sckott commented on #116
seems sorted now, re-open if you want this open

[2015-11-06 21:02] #116 closed

[2015-11-06 21:51] sckott commented on #34
Looking at this - curios in the REST helpers why we only support certain content types?  AFAICT `sbtools` only downloads the files, and doesn't do anything more than that like try to read the file in, etc,  -- So could we just allow any file type, esp. with GET requests?

[2015-11-06 21:59] jread-usgs commented on #34
yeah, I had the same question here: https://github.com/USGS-R/sbtools/issues/98

Supported types vs unsupported types.

[2015-11-06 22:05] aappling-usgs commented on #34
to summarize, i think we decided that we didn't really want to specify which types were permitted, but we needed some way to determine whether we were getting an error or not (e.g., user might not be authenticated). checking for known types was the temporary solution.

@sckott, maybe you've already fixed this today with `handle_errors` (i haven't looked very carefully...)? or maybe there's some ot

[2015-11-06 22:33] sckott commented on #34
Okay, thanks. Oh, so, if the `content-type` header is consistent with an authorization error, then you'd  stop on that?

I can write some tests for `handle_errors` to make sure (ping #128 )

[2015-11-06 23:23] aappling-usgs commented on #34
Sounds good!

[2015-11-09 01:02] #80 closed

[2015-11-09 01:02] #34 closed

[2015-11-09 01:31] aappling-usgs opened #130 "item_list_files and item_get should accept a full sbid"
My old code calls `item_create` and tries to pass the result (an SB ID) into `item_list_files` and `item_get`. This worked back when item_create returned a character string, but now i have to explicitly extract the id (with `$id`) and pass THAT into `item_list_files` and `item_get` to avoid the following error. I think it makes sense for all functions that accept an ID to accept either a character

[2015-11-09 13:11] aappling-usgs opened #131 "return >1000 items in query_item_identifier"
`query_item_identifier` can handle pretty big, but not very big, sets of items. Where `bigscheme` and `bigtype` indicate a collection of SB items larger than 1000 items, only 1000 are returned even if limit=10000. Make limit 100000 and you even get an error about that parameter (which gets renamed 'max' before being passed to SB).
[code]

I think the solution is to page through the results and com

[2015-11-09 13:29] aappling-usgs opened #132 "revisit status code checks in query_item_identifier"
In `query_item_identifier` we currently have:
[code]
I'm not sure this error makes sense in this context - `query_item_identifier` readily returns multiple items at once. Is there a way to find a list of more likely status codes & definitions for a GET query of this form, and to check for those instead?

On a related note, I'm wondering about the 'error' where you're not logged in and therefore ca

[2015-11-10 05:59] sckott commented on #130
I can take a crack tomorrow, should I assign myself?

[2015-11-10 06:01] sckott commented on #132
Hmm, typically APIs have in their documentation the likely errors you could get, are those anywhere.

[2015-11-10 13:04] aappling-usgs commented on #130
Sounds great. I won't have time in the next couple of days.

[2015-11-10 13:28] jread-usgs commented on #130
:+1:

[2015-11-10 13:53] aappling-usgs opened #134 "warn, not fail, on non-auth in sbtools_GET"
Public information should be accessible via sbtools_GET without authentication, but `sbtools_GET` currently calls `check_session(session)` on the second line, and `check_session(session)` calls `stop()` if the session isn't authenticated. I propose a second argument to check_session, `on_fail`, that accepts either `stop` or `warning` and then uses that function to sound the alarm. Then sbtools_GET

[2015-11-10 13:54] aappling-usgs commented on #134
The coding is easy, but I'd like thoughts from others before I do anything because this is a big API thing - @lawinslow , @sckott , @jread-usgs ?

[2015-11-10 14:00] jread-usgs commented on #134
I think GET should be a little different, because `sbtools` should be useful for people who just want to find and download public data. They shouldn't need an account, so I would like to support that use case.

I think GET used to do something along the lines of verify the session was either NULL or valid, and then try the GET. So, users that aren't logged in are NULL, and this worked unless you h

[2015-11-10 14:05] aappling-usgs commented on #134
Yeah, even a warning is a bit strong when the data are actually public and can be found, isn't it? I'm now wondering if we could just delete the `check_session(session)` line from `sbtools_GET`, because `handle_errors` already stops with `"check authorization and/or content"` if there's a problem.

[2015-11-10 15:53] sckott commented on #134
I think it makes sense to delete. Just tested removing the check line now, which means public items work fine, and private gives e.g.,

[code]

[2015-11-10 17:36] sckott opened #136 "Travis - use secure env vars for testing"
We can set secure env vars on travis, hidden keys that won't be visible in builds, etc.

Could set one for username and one for password, then we can use `authenticate_sb()` as needed

Would be nice to have a test account. My account is basically a test account, I don't have any important items in there that can't be deleted. So that's an option.

[2015-11-10 17:36] sckott commented on #136
related to #133

[2015-11-10 18:11] jread-usgs commented on #136
Have you done the secure keys for this type of thing in a pkg? It looks promising, but I didn't really know where to start.

[2015-11-10 18:19] aappling-usgs commented on #136
Wow, didn't know this was possible! All in favor if it's as secure as it sounds.

[2015-11-10 18:22] sckott commented on #136
docs on it http://docs.travis-ci.com/user/environment-variables/#Encrypted-Variables

You can set them via the travis file, or just in the settings tab on the travis site for the repo -

You access them from the travis servers using `Sys.getenv()`

AFAIK they are very secure, but i'm no travis expert.

[2015-11-10 18:28] jread-usgs commented on #136
I looked into it for appveyor too a while ago

[2015-11-10 18:30] aappling-usgs commented on #136
Looks like we'll want to make our tests robust to not having those variables available in some builds:

(from webpage scott referenced above)

[2015-11-10 18:39] jread-usgs commented on #136
We should also think about creating an SB service account a la sbtoolsdev or something like that for this purpose.

[2015-11-10 21:18] #131 closed

[2015-11-10 21:18] #134 closed

[2015-11-10 22:35] aappling-usgs opened #137 "session_active"
I'd like a single call to check whether I'm logged in to an active session. Right now the most concise I've found is `is.null(current_session()) || !session_validate()` - not awful, but a single function call would be nicer. Something like

[code]

It's possible something like this already exists in the package under a name I didn't recognize - if so, someone please chime in.

[2015-11-11 17:03] jread-usgs commented on #137
:+1: from me

[2015-11-11 21:59] aappling-usgs commented on #137
Now I think the above strategy might not be sufficient. I logged in more than an hour ago, let my R session sit for a while, then came back and ran an SB query. The query returned 673 results the first time and 0 just now, without any error resulting from `if(is.null(current_session()) || !session_validate()) stop()`. I logged in again and then got 673 back. I really would like to be able to send

[2015-11-13 21:26] ldecicco-USGS opened #138 "function or documentation to move items"
I'd like to move a folder into another folder (actually LOTS of folders into a single new folder). It is not obvious to me if this capability exists or could exist with a new function.

[2015-11-13 23:59] sckott commented on #138
To be clear, I assume you mean move folders within your Sciencebase account, and not on your local machine?

[2015-11-14 00:03] aappling-usgs commented on #138
Yes, that's the challenge. Is it possible to use something like `item_update`, or a wrapper to that function, to change the parent ID of an item? Or some other mechanism in the API that would have that effect?

[2015-11-14 00:07] sckott commented on #138
Hmm, don't know, looking

[2015-11-14 00:27] sckott commented on #138
Okay, `item_update()` does it, but is this worth having:

[code]

[code]

[2015-11-14 00:35] aappling-usgs commented on #138
Awesome! You're fast. I agree that a separate function is well worth it.

[2015-11-17 23:35] aappling-usgs opened #140 "query_item_identifier inconsistency?"
paging through query results doesn't work yet. the following calls give you 664 rows of results every time, but their uniqueness varies from call to call. see:
[code]
all this works fine if pagesize=1000. 664 unique results every time.

[2015-11-17 23:54] aappling-usgs commented on #140
The repeated values occur near the beginning of new pages and are repeats of values that occurred toward the end of the previous page.
![image](https://cloud.githubusercontent.com/assets/12039957/11228696/13b68f42-8d54-11e5-90a5-ab656f397932.png)
[code]

[2015-11-18 00:32] aappling-usgs commented on #140
left a bug report on the sciencebase site: http://feedback.sciencebase.gov/forums/73465-sciencebase/suggestions/10747197-query-results-paging-by-nextlink-yields-duplicate

[2015-11-20 20:56] allenj commented on #140
I fix has been applied on the sciencebase side. Please re-run your tests. Thanks for the bug report.

[2015-11-20 22:28] aappling-usgs commented on #140
Yes, it's fixed! Thanks, @allenj
![image](https://cloud.githubusercontent.com/assets/12039957/11313591/a337b15e-8fa3-11e5-80c0-14080fbb669d.png)
(plot is from same code as above)

[2015-11-20 22:28] #140 closed

[2015-11-24 01:05] aappling-usgs opened #141 "item_replace_files - surgical version"
item_replace_files currently wipes out all of the item's files and then replaces them. Could we make it so it's possible to replace just one or a few of the files while leaving the others intact? Here's the current code:
[code]
So really, all that's needed is a way to remove just one or a handful of files at a time within `item_rm_files`.

[2015-11-24 01:05] #138 closed

[2015-11-25 20:14] sckott commented on #130
i remembered why I didn't have `item_get()` accept an object of class `sbitem` - because we use `item_get()` within the function `as.sbitem()` https://github.com/USGS-R/sbtools/blob/master/R/sb_item.R#L32

I'll have a look at this and see if it can be fixed

[2015-11-25 20:14] sckott commented on #130
oh, and if `item_get()` uses `as.sbitem()` within it, leads to infinite recursion problem :)

[2015-11-25 20:19] aappling-usgs commented on #130
yeah, infinite recursion is awkward =). looks like you've already fixed it, though, where you've specified different functions for `as.sbitem.character` (which uses `item_get`) versus `as.sbitem.sbitem` (which doesn't) - right?

[2015-11-25 21:07] sckott commented on #130
No, still broken cause if `item_get` uses `as.sbitem` then a character string id that's passed in goes to `as.sbitem.character`, wich right now calls `item_get`, which leads to recursion,

PR coming soon

[2015-11-25 21:09] aappling-usgs commented on #130
oh, you're right

[2015-11-25 23:07] sckott commented on #130
PR in

[2015-11-26 01:24] #130 closed

[2015-12-01 22:28] sckott commented on #141
not sure off the top, but I can have a look

[2015-12-02 16:02] aappling-usgs commented on #141
that would be great, thanks. this is a blocker for a change i'd like to make in a client project.

[2015-12-23 00:42] sckott commented on #137
Hmm, is this the definitive docs on authentication for Sciencebase? https://my.usgs.gov/confluence/display/sciencebase/Authenticating

What about this:

[code]

[code]

After restarting R session, and not re-authing:

[code]

thoughts?

[2015-12-23 00:54] sckott commented on #127
this is fixed now

[2015-12-23 00:54] #127 closed

[2015-12-23 00:56] sckott commented on #132
@aappling-usgs seems like open a separate issue for this one

[2015-12-23 00:57] sckott commented on #132
Can someone give egs of `query_item_identifier()` use? don't see any egs in the file

[2015-12-23 00:59] sckott commented on #121
Thoughts everyone? Should anything be done about this items vs. folders question?

[2015-12-23 01:01] sckott commented on #120
@aappling-usgs hmm, now I don't think I understand what you mean here:

Just replace the code within `item_rm_recursive()` with the code within `item_list_children_all()`?

[2015-12-23 01:06] sckott commented on #89
@aappling-usgs what fxn in the python client should we look at?

[2015-12-23 01:15] sckott commented on #118
sending a PR for `user_id`

__1__, __2__ and __3__ are handled nicely I think already. e.g., if you aren't authenticated and you use `item_rm()` you get

[code]

Same for if you are auth'ed and you don't have access. And succeeds of course if you do have access and are auth'ed

[2015-12-23 01:24] sckott commented on #85
Looks like the use of `cookies` param only occurs in some tests.

[2015-12-23 01:32] sckott commented on #77
note that I use this in the proposed fxn in https://github.com/USGS-R/sbtools/issues/137#issuecomment-166769301

[2015-12-23 01:55] sckott opened #145 "Put parameters used a lot into man-roxygen templates?"
e.g., `...`, `session`, etc.

[2015-12-23 17:23] jread-usgs commented on #145
I would like to do this more, but do you have an example elsewhere? I haven't been able to cook it into my package documentation workflow for common params.

[2015-12-23 17:42] sckott commented on #145
yeah, just put a R file (e.g., `mydocs.R`) with only roxygen docs into a folder in the root named `man-roxygen` and use e.g., `@template mydocs` in a file in `R/ `

e.g. https://github.com/ropensci/rgbif/tree/master/man-roxygen

If you want to do this, I can start it here

[2015-12-26 01:53] jread-usgs commented on #145
I'd like to give it a shot for starting so I can learn and use elsewhere if you are up for that.

[2015-12-26 02:19] jread-usgs commented on #145
@sckott was looking into this. Is there an advantage to using `@template` vs `@inheritParams`? I haven't been good about reusing params elsewhere, so I am not sure what the tradeoffs are.

also, related to this, seems we probably need consistency for `id` vs `parent_id`?
Looking at [item_create.R](https://github.com/USGS-R/sbtools/blob/master/R/item_create.R) vs [item_upload_create.R](https://gith

[2015-12-28 22:45] sckott commented on #145
`@template` vs. `@inheritParams` - depends on preference. template takes whatever you have in a R file in `man-roxygen` folder, whereas inheritparams just inherits whatever params are in another file in `R/`

`id` in those two functions are the same I think, should make those the same, good idea to open a new issue

[2015-12-29 15:12] aappling-usgs commented on #121
My vote is to not acknowledge folders at all in `sbtools`, just call everything an item. e.g., remove `folder_create()`, etc.

[2015-12-29 15:41] lawinslow commented on #121
Here's my thought. If we can implement both without much code duplication, I say we do it. It's used obviously on sciencebase and first adopters of sbtools might be confused if we don't make a distinction. While there is no functional difference, there is a clarity difference.

[2015-12-29 17:18] sckott commented on #121
Sounds good luke, I can try to use a single internal fxn for both of these, keeping both fxns exported

[2015-12-29 22:23] jread-usgs opened #147 "merge param names for parent_id and id into one"
should probably only have one sb_id param name.

[2015-12-30 00:58] jread-usgs commented on #77
@sckott so we would get rid of the session birthdate concept in favor of `sb_ping`? Or would we end up using both?

[2015-12-30 14:53] lawinslow commented on #147
It seems to me that parent_id is more clear than consolidating. In one operation, you're operating on the item itself. The other, just specifying the parent item. What's your thought with the consolidation?

[2015-12-30 15:07] jread-usgs commented on #147
I don't think the names should differ, but I think the param details could differ between the two functions. The function takes an `sb_id` as an arg, so it should be `sb_id` or `id`. The details of what the relationship of that is to the operation would be part of the docs. That would be my suggestion.

[2015-12-30 15:10] jread-usgs commented on #147
e.g., why is `folder_create(id,...)` and `item_upload_create(parent_id,...)` when both operate relative to a parent id?

[2015-12-30 15:12] jread-usgs opened #149 "user_id() should fail gracefully when there isn't an auth session"
restart R:
[code]

[2015-12-30 15:15] jread-usgs commented on #149
looks like this is fixed in #143 by @sckott

[2015-12-30 15:16] jread-usgs commented on #149
and is duplicated #118 ...

[2015-12-30 15:16] #149 closed

[2015-12-30 15:17] #85 closed

[2015-12-30 15:46] #118 closed

[2015-12-30 15:50] lawinslow commented on #147
Yeah, good point. I'd say those should both be parent_id. Settle on a common naming convention of maybe something like "parent_id" and "item_id", then parameters can be inherited and the difference between use is clear.

[2015-12-30 15:51] lawinslow commented on #147
I'd propose changing this to "make id parameters consistent across functions" to "parent_id" and "item_id".

[2015-12-30 15:57] lawinslow commented on #49
This issue is also related to #39. Title needs to be provided as part of a JSON file written out and included in the upload. This support has been challenging for the issues laid out in #39.

[2015-12-30 18:11] #9 closed

[2015-12-30 18:12] #52 closed

[2015-12-30 18:31] #101 closed

[2015-12-30 22:18] lawinslow commented on #136
Ok, service account created and secure env vars set. sb_user and sb_pass.

[2015-12-30 22:18] #136 closed

[2015-12-30 22:20] lawinslow commented on #89
I'm going to close this and continue discussion in #74 (reopen if I misunderstand and this is a separate issue)

[2015-12-30 22:20] #89 closed

[2015-12-30 22:28] lawinslow commented on #74
@ldecicco-USGS I can't re-create this issue now. I added a test to check that behavior. Perhaps SB has changed its behavior. Can you re-create?

[2015-12-30 23:17] lawinslow commented on #56
Added in #153

[2015-12-30 23:17] #56 closed

[2015-12-30 23:17] #61 closed

[2015-12-31 15:27] lawinslow commented on #137
Now available as `is_logged_in` as part of PR #146

[2015-12-31 15:27] #137 closed

[2016-01-04 22:18] ldecicco-USGS commented on #74
indeed, doesn't seem to be a problem

[2016-01-04 22:18] #74 closed

[2016-01-06 22:13] ldecicco-USGS commented on #141
I'd like to re-iterate that the current behavior is not (to me) expected at all. I expect that if I do this:

[code]
I'm just replacing the file...not deleting allllllll my other stuff.

[2016-01-06 22:54] lawinslow commented on #141
Ah, got it. I'll look at this next.

[2016-01-15 20:57] lawinslow commented on #141
Argh, SB.

[2016-01-15 21:48] #147 closed

[2016-01-15 21:50] lawinslow commented on #141
Ok, this functionality is now in there. item_replace_files has an `all` T/F flag. It will either remove all files and upload new ones (TRUE), or replace files with identical names as those being uploaded (FALSE).

I'm going to close this, but please reopen if anyone has a preference for this interface change.

[2016-01-15 21:51] lawinslow commented on #145
Ok, in addition to what @jread-usgs did, I've taken care of some stragglers.

[2016-01-15 21:51] #145 closed

[2016-01-15 21:53] appling commented on #141
Sounds like a good solution to me!

[2016-01-15 22:18] lawinslow commented on #121
@sckott I went head and implemented with as much overlap as possible. Because of weird JSON boxing/non-boxing issue with SB, I couldn't move too much out of folder_create. Closing this for now.

[2016-01-15 22:18] #121 closed

[2016-01-18 17:24] #120 closed

[2016-01-18 17:24] lawinslow commented on #72
Ok, this is fixed now.

[2016-01-18 17:24] #72 closed

[2016-01-18 17:30] lawinslow commented on #120
@aappling-usgs I've improved item_list_children to include a much broader array of functionality, getting close to the raw ability of `item_list_children_all` and eliminated the `_all` version. Check out the changes. If this isn't what you were thinking, re-open this issue.

[2016-01-18 17:36] appling commented on #120
@lawinslow looks great!

[2016-01-18 17:56] lawinslow commented on #132
@aappling-usgs fixed this. Ironically, git blame says you wrote that status code check. I don't see the use right now, so it's been removed.

I am unable to re-create the 'error' you are referring to when not authenticated.

`query_item_identifier('mda_streams')` works for me no problem when authenticated nor not. If it is still an issue, re-open and elaborate.

[2016-01-18 17:56] #132 closed

[2016-01-18 18:02] lawinslow commented on #47
@jread-usgs does this issue still apply? I tried this function a few different ways and got descriptive errors.
![image](https://cloud.githubusercontent.com/assets/347600/12398761/4a0adbd6-bddb-11e5-83b8-628a0e73ae85.png)

Re-open as needed.

[2016-01-18 18:02] #47 closed

[2016-01-18 18:09] lawinslow commented on #78
I'm going to close this for now. While this usage does result in some potential weird behavior, it's not first-class functionality, so I'm not that worried about breaking them out separately until we run into a clear problem. Then the nature of the problem will help direct us towards an architectural solution.

[2016-01-18 18:09] #78 closed

[2016-01-18 18:33] aappling-usgs opened #158 "warning when searching without authentication and/or not getting results?"
A philosophical question: Can and should `sbtools` usefully steer users to more successful querying by noticing when authentication is missing and/or when 0 search results are returned, then providing a warning message suggesting authentication?

(I raised this question as part of an earlier issue (#132) - moving it to its own issue here to make sure it gets some discussion.)

Example: Running thi

[2016-01-18 18:35] aappling-usgs commented on #132
I consider the `'Multiple items described by that ID'` bit fixed, though there's still the lingering question of whether there are other status codes that might come back that we could anticipate and relay usefully.

I've created a new issue (#158) to better explain the final paragraph of the first post in this issue thread.

[2016-01-18 20:12] lawinslow commented on #132
I'm not sure if there are any other status codes. The SB documentation doesn't mention any. I'm going to punt on this until specific issues arise.

[2016-01-18 20:17] aappling-usgs commented on #132
works for me.

On Mon, Jan 18, 2016 at 2:12 PM, Luke Winslow <notifications@github.com>
wrote:

--
Alison Appling
Postdoctoral Fellow, USGS Powell Center
USGS Office of Water Information and University of Wisconsin - Madison
Phone: (608) 821-3927

[2016-01-18 20:39] lawinslow commented on #158
I've tossed up a simple change that would in general address this. Pretty much the point you're making is that if the session expires for any reason, the user may not know and have unpredictable or bizarre results. To deal with this in a general sense, if you're relying on the persisted session (via `current_session`), and that session is expired, then a warning would be helpful. I've added this w

[2016-01-18 21:11] #158 closed

[2016-01-18 21:11] aappling-usgs commented on #158
I really like the solution you've put up, @lawinslow. There's still the possibility that a user will search without ever authenticating, but that's much less insidious and I'm now content to let that user fail without help.

[2016-01-18 21:12] lawinslow commented on #158
and from an sbtools perspective, we can't help, beyond spamming everyone with cautionary messages of "you are not authenticated and may be getting erroneous results"

[2016-01-19 20:30] lawinslow opened #160 "New user-friendly query_sb function"
Are people using the raw list output from the `query_items` function? I'm thinking about moving it internal and wrapping it with a function that returns a list of sbitem objects and does paging internally. New function might be named `query_sb`.

Thoughts? Objections?

[2016-01-19 20:37] aappling-usgs commented on #160
I'm using `query_items` to get parent IDs & names here: https://github.com/USGS-R/mda.streams/blob/ec7a25bd157f0edf08e86a94cbecc6c55d6f7fa2/R/get_sites.R#L41. Has `sbtools` developed to the point where there's a better solution for this problem, and/or would the new `query_sb` function make this possible/easier? Paging seems like a good idea.

[2016-01-19 20:37] sckott commented on #160
Doesn't it return a httr `response` object right now?

[2016-01-19 20:38] sckott commented on #22
@jread-usgs what was the call that created that error?

[2016-01-19 20:39] sckott commented on #60
What's the ScienceBase API endpoint for this?

[2016-01-19 20:41] lawinslow commented on #160
@sckott Er, yeah, "raw" was not the right way to describe it. httr `response`

@aappling-usgs I'm just thinking about how to prevent the user from needing to parse the httr `response` object, and instead have a return type that is more in line with the rest of the package. `query_sb` would attempt to give you a higher-level function with more user-friendly operation.

[2016-01-19 20:43] lawinslow commented on #60
I think it is the `/catalog/items` endpoint. Described on [sb wiki](https://my.usgs.gov/confluence/display/sciencebase/Creating+Queries+for+ScienceBase#CreatingQueriesforScienceBase-Searching)

[2016-01-19 20:48] jread-usgs commented on #22
Sorry, I am not sure and it is a really old post (~1 year ago), so the code is probably very different now?

[2016-01-19 20:50] lawinslow commented on #22
I'm just going to archive and can re-open if we run into related JSON parsing issues. I think we're in better shape than we were a year ago.

[2016-01-19 20:50] #22 closed

[2016-01-19 20:54] aappling-usgs commented on #160
As long as I can get a list of items (in whatever form) from a query, find the parentIDs of the items, and trace the parentIDs to the names of those parents, I'm good. It's only one function for me to rewrite, and I think it's great that you're working toward more user-friendly wrappers. Will `query_sb` combine the three existing functions `query_items`, `query_item_identifier`, and `query_item_in

[2016-01-19 21:00] sckott commented on #22
ok

[2016-01-19 21:01] lawinslow commented on #160
`query_item_identifier` has a very specific goal that may not overlap well, so I haven't quite decided there. Definitely replace `query_items` as the exposed function. Ultimately, `query_sb` might just be wrapped by some of the more specific functions.

[2016-01-19 21:04] aappling-usgs commented on #160
OK, looking forward to whatever you come up with.

[2016-01-19 21:06] sckott commented on #160
might want to still export `query_items()` in case users want low level access

[2016-01-19 21:06] sckott commented on #60
thx

[2016-01-19 21:25] lawinslow commented on #160
Yeah, fair enough, doesn't hurt too much to leave it exported. I may add a bit of a "this is low-level" disclaimer to the `query_items` documentation.

[2016-01-19 22:50] sckott commented on #88
Looking into this.

[2016-01-21 17:50] lawinslow opened #163 "Function to get WFS endpoint and read data into R from SB item"
User will be able to point this function at an SB item that has a WFS service attached and get the data loading into an SP dataframe.

Example of an SB item with
https://www.sciencebase.gov/catalog/item/55e372b9e4b05561fa208212

Might be able to do it with [this rOpenGov package](https://github.com/rOpenGov/rwfs), though it is not on CRAN and it follows an object inheritance model.

Some rough cod

[2016-01-21 18:01] lawinslow opened #164 "Function to download and load simple table data from SB item"
Build function to download and load tabular data attached to an SB item. Generally want to keep what is supported fairly straight forward and maybe use one of the existing more flexible file loading functions (fread, or something in the `readr` package).

[2016-01-21 18:35] lawinslow opened #165 "Function to download/load raster data?"
This is a big question mark for me. Not sure how easy or hard it will be to generically grab and load data from OGC WCS webservices. My quick attempts today have failed.

Data example:
https://www.sciencebase.gov/catalog/item/5065d135e4b053bff18e1ba7

Not necessarily a requirement for milestone v1.0, but I added it anyway.

[2016-01-21 18:41] lawinslow opened #166 "Create query wrappers for common query types"
Key query types to support
- [x] Spatial bounding box
- [x] date/time range
- [x] data type
- [x] DOI

[2016-01-21 18:44] lawinslow commented on #165
There are also items with "ArcGIS REST Service" outputs like these.
https://www.sciencebase.gov/catalog/item/54f10470e4b02419550cea54

May or may not be classified in a similar category. It's not clear to me.

[2016-01-21 19:06] sckott commented on #165
on this issue and  #164 - Curious how many other data formats you'd want to read in? If it means having a bunch of other packages as imports that may be hard to install, then it might be worth having a separate small utilities pkg for reading data - e.g., `rgdal` is super annoying - `readr` is pretty painless though  - Right now your imports are really lightweight making this pkg easy to install :

[2016-01-21 19:18] lawinslow commented on #165
Yeah, excellent question. Lightweight is nice. For the more complicated gdal stuff, we could go a "suggests" route and leave it as optional functionality, leaving it otherwise light of required packages.

[2016-01-21 19:28] sckott commented on #163
Into what object?  a spatial object following `sp` classes?

When WFS is avail. for an item is there also other geospatial formats avail.? e.g., geojson would be easier to quickly visualize if that's a use case you're shooting for  - Thought i imagine most people are familiar with `sp` and friends

[2016-01-21 19:40] sckott commented on #165
True, and check whether user has the suggested pkg, and stop with informative message if not

[2016-01-21 19:52] lawinslow commented on #165
Yeah, exactly

[2016-01-21 20:03] lawinslow commented on #163
Yeah, I was thinking an object along the `sp` line.

Well, I'm fairly certain we won't know the file format that was used to create the service itself (the raw file attached to the item), but the WFS could be used to grab JSON instead of a shapefile.

Here's a quick example
https://www.sciencebase.gov/catalogMaps/mapping/ows/55e372b9e4b05561fa208212?service=wfs&request=getFeature&version=1.0.0&out

[2016-01-21 20:35] jread-usgs commented on #165
I think filetype extensions are out of scope for sbtools, mainly because part of the power of sb is its flexibility to support various filetypes. Is the idea to implement these before manuscript submission?

[2016-01-21 20:38] lawinslow commented on #165
yeah, I'm trying to ward off the potential criticism that "this is just a package for USGS employees"

[2016-01-26 18:28] lawinslow commented on #166
Done in #168

[2016-01-26 18:28] #166 closed

[2016-01-26 18:28] lawinslow commented on #164
Rough version done in #167

[2016-01-26 18:29] lawinslow commented on #164
Forget that, wrong issue.

[2016-01-26 18:29] #163 closed

[2016-01-26 18:29] #160 closed

[2016-01-26 18:34] sckott commented on #73
Seems like `XML` is no longer imported

Do we still want to do this, or drop this?

[2016-01-26 18:34] sckott commented on #63
Can you give more details on this?

[2016-01-26 18:58] lawinslow commented on #73
We can just drop it.

[2016-01-26 19:04] #73 closed

[2016-01-26 19:05] sckott commented on #20
What do you mean - like a unit test for the pkg, or just test that a file was successfully uploaded/updated internally in the pkg?

[2016-01-26 19:11] lawinslow commented on #20
I think this had to do with SB failing on some calls and it wasn't clear if it was silent, or we just weren't examining the return value for success/failure. The addition of sbtools_GET and the like improves this situation. I think SB used to have more issue with this too. I haven't encountered this problem as much anymore. @jread-usgs did I do the issue justice?

[2016-01-26 19:18] lawinslow commented on #63
One of the things we don't currently have implemented is first-class functions for dealing with the [long list](https://my.usgs.gov/confluence/display/sciencebase/ScienceBase+Catalog+Item+REST+Services#ScienceBaseCatalogItemRESTServices-ItemCoreObjects) of metdata for SB items. This can all largely be accomplished with `item_update`, but it isn't super user friendly. I'm currently ok with that and

[2016-01-28 19:02] sckott commented on #60
hmm, but doesn't `query_items()` already do this?

[2016-01-28 19:03] sckott opened #170 "Session vs. other auth?"
Any chance Sciencebase maintainers would consider not using session token things?  Instead use api keys/oauth. ideally keys instead of oauth. Would make auth easier in clients

[2016-01-28 19:05] lawinslow commented on #60
Hmm, I think it does. I'm assuming this is just old. Please reopen if I'm missing something.

[2016-01-28 19:05] #60 closed

[2016-01-28 19:13] lawinslow commented on #170
Hmmm, he could ask them what their thoughts are. My guess right now is they are less concerned with the API-based clients than the human interface right now.

[2016-01-28 19:16] sckott commented on #170
Okay, yeah, sessions seem good for browsers, but not so good for programmatic access :(

[2016-01-28 20:38] sckott opened #171 "Change session_info name, clashes with devtools::session_info"
https://github.com/USGS-R/sbtools/blob/master/R/session_info.R i guess i made this - woopsy - what about `session_details()` ?

[2016-01-28 20:46] lawinslow commented on #171
Works for me!

[2016-01-28 21:04] sckott commented on #88
working now, PR soon

async option will take a little more work, requires getting response back then continuing to ping SB API to see if items done being created - not hard though

[2016-01-28 21:12] sckott commented on #171
cooliio

[2016-01-28 22:34] sckott opened #172 "Add UPSERT single item"
multiple UPSERT addressed in #88

[2016-01-28 23:58] sckott opened #175 "missing import or suggest"
seems that `sp` is not imported properly, should be in DESCRIPTION and `@import sp` or better yet `@importFrom sp <fxn1> <fxn2>`  somewhere in pkg to generate appropriate entries in NAMESPACE

[2016-01-29 16:31] #172 closed

[2016-01-29 16:43] lawinslow commented on #175
@sckott think this is ok? I am hoping to keep it as optional

[2016-01-29 16:44] sckott commented on #175
sure could be optional, but still needs to be in `Suggests` no?

[2016-01-29 16:47] lawinslow commented on #175
Yeah, added [here](https://github.com/USGS-R/sbtools/pull/176/files#diff-35ba4a2677442e210c23a00a5601aba3R25)

[2016-01-29 16:49] sckott commented on #175
ah okay

[2016-01-29 17:10] #171 closed

[2016-01-29 17:10] #175 closed

[2016-02-05 14:55] #88 closed

[2016-02-05 19:08] #20 closed

[2016-02-05 19:10] #63 closed

[2016-02-05 19:10] #62 closed

[2016-02-05 19:12] lawinslow commented on #59
duplicate of #164 (or its a duplicate of this)

[2016-02-05 19:12] #59 closed

[2016-02-05 19:13] lawinslow commented on #170
SB people said there's no planned support for near future. Can re-visit if SB support changes.

[2016-02-05 19:13] #170 closed

[2016-02-05 19:22] #77 closed

[2016-02-15 16:01] aappling-usgs opened #181 "identifier_exists should not require login (i.e., sbtools_HEAD should use session_val?)"
right now `identifier_exists` calls `sbtools_HEAD` calls `check_session` which breaks if `current_session()==NULL`. I think `session_val()` would be more appropriate than `check_session()` for this use case. Are there other uses of `sbtools_HEAD` that require full authentication, or can we just drop it back a notch to validity?

[2016-02-15 16:02] aappling-usgs commented on #181
The only use of `sbtools_HEAD` that's currently in the package is in `identifier_exists`.

[2016-02-15 16:32] aappling-usgs opened #182 "session_authorized, session_validate vs is_logged_in, is.null(session)||is_logged_in"
Initial motivation for this issue (but see below):
wanted to export `session_authorized` because it's at least as useful as `session_validate` for clients.

[2016-02-15 16:52] aappling-usgs commented on #182
...hmm. but now I see that very similar functionality is already available as `is_logged_in`. Now I'm wondering if `session_authorized` serves any purpose better than `is_logged_in`. The only place it's used in the package is in the internal function `check_session`:

[code]
And this looks like a case where `is_logged_in` would also be appropriate.

Can we delete `session_authorized`?

[2016-02-15 17:47] aappling-usgs commented on #182
Bringing some data to this. A bit surprisingly to me, `session_authorized` and `session_validate` are always slower than options involving `is_logged_in`, even though they skip the GET call. They are also potentially less reliable since they depend on our perfect understanding of how SB renews sessions.

[code]

[2016-02-15 18:01] aappling-usgs commented on #182
I propose that we

1. rewrite `session_validate` so to simply contain `is.null(session) || is_logged_in(session)` (faster)
1. rename `session_validate` to `session_valid` (because it doesn't DO stuff, just gets info)
1. remove `session_authorized` from the package (redundant with & slower than `is_logged_in`)
1. rewrite `is_logged_in` to check for a NULL session before going to session_details, i.

[2016-02-15 19:45] aappling-usgs commented on #182
Also want to confirm that is_logged_in detects a change in authorization status due to session timeout (using code that reflects the above changes 1, 3, and 4).

[code]

One thing this demonstrates is that `is_logged_in()` does not itself renew the session. Good to know.

The other, main thing is that `current_session()` and `is_logged_in()` both notice, in different ways (internal records and SB

[2016-02-15 20:15] aappling-usgs opened #183 "revisit session_check_reauth"
This function hasn't had much attention recently, I think. I propose:

1. rename to `session_renew`
2. rewrite to check whether the session is current. if it is, re-up the session timer through a lightweight call to https://www.sciencebase.gov/catalog/status?format=json (see 5th comment in #90). if it's not current, or if the username passed in doesn't match the username of the current session, re

[2016-02-15 21:42] lawinslow commented on #182
I'm not sure what's going on with that benchmark. I got similar results using your above code with microbenchmark, but those results are way off.
[code]
using just system.time, I get results that make a lot more sense. `is_logged_in` takes two orders of magnitude more time. This is from my home connection where my RTT to the WAF (beyond which pings are dropped) is ~65ms, so your mileage may vary i

[2016-02-15 21:43] lawinslow commented on #181
Good find. Seems like a valid bug with an easy fix. PR?

[2016-02-15 21:44] lawinslow commented on #183
Agreed with all points.

[2016-02-16 00:41] aappling-usgs commented on #183
Thanks, @lawinslow . After working with this for a few minutes, I'm thinking users who intend to log in with a new username should actually be using `authenticate_sb()` instead; otherwise, `session_renew` could do something very un-renew-like (i.e., establish a totally new session).

So as a revision to (2) above, how about only using a username, if passed in, to confirm that the old and new usern

[2016-02-16 01:43] aappling-usgs commented on #182
@lawinslow , your new info on runtime makes me think differently about the problem - for a few hours it was a win-win in my mind, but now it's a tradeoff between speed and internal simplicity, with reliability costs on both sides. we do a validity check at the start of pretty much every function call, so i'm much less excited about removing the shortcuts (local checks) now that I know they're so m

[2016-02-16 02:04] jread-usgs commented on #183
:+1: I like this plan and the revision to 2.

[2016-02-16 14:36] #181 closed

[2016-02-16 14:36] #183 closed

[2016-02-16 15:21] aappling-usgs opened #185 "Functions to save and load RData from ScienceBase"
In line with #164 plus making SB really R friendly, could write functions that load (and save?) native R data to ScienceBase.

I would use this in `mda.streams` right away if it were available.

[2016-02-16 15:22] lawinslow commented on #185
You thinking just binary Rdata objects or more generic data.frame to CSV/TSV?

[2016-02-16 15:26] aappling-usgs commented on #185
I was thinking #164 was about 'more generic data.frame to CSV/TSV', and I think that's also a good idea.

But writing binary data, and keeping it binary, has value of its own. So I'm thinking of this issue as a separate idea.

What are your thoughts on the naming convention for these direct read-in functions(#185, #164, #165, etc.)?

[2016-02-16 16:07] lawinslow commented on #185
Hmmm, if we were using R syntax as a parallel, `sb_load` and `sb_save` would be a good way to go. Conversely, all of these functions are referring to items, which would push us towards the current `sbtools` parlance of `item_*something*`. Just brainstorming here. `item_save_rdata`, `item_load_rdata`. `item_load_df`, `item_save_df` (or maybe csv).

You have any thoughts?

[2016-02-16 16:27] aappling-usgs commented on #185
I like that `item_load_rdata` could eventually be complemented by `item_load_tsv`, etc. Possible modifications:

A. It's possible in SB (and sometimes sensible) to store multiple data files within a single item. This could be accommodated in a couple of ways:

1. prefix every related function with `item_file`, e.g., `item_file_load_rdata(sb_id, ..., names, session=current_session())` to be paralle

[2016-03-04 22:20] ldecicco-USGS opened #186 "item_rm(recursive=TRUE)"
This seems like a bug, or I'm just reading it wrong:

[code]
I set `recursive=TRUE` so I could remove all the children, and got an error that the item has children.

[2016-03-04 22:21] lawinslow commented on #186
I'll take a look later, probably a bug.

[2016-03-05 03:41] lawinslow commented on #186
Hmmm, what version of `sbtools` are you using? I tried with 0.15.3 and couldn't re-create

[code]

[2016-03-17 18:09] jordansread opened #187 "hard limit for posting files associated w/ item"
Looks like SB now has a limit for how many files can be associated w/ an item (100). if you try to post the 101 file, you get a really nasty error that doesn't tell you anything:
![image](https://cloud.githubusercontent.com/assets/2349007/13856042/62fef66a-ec41-11e5-83ba-929fc9ed17b2.png)

I am not suggesting the package should do much about this, but something to be aware of and maybe we should t

[2016-03-17 18:17] lawinslow commented on #187
Ha, I think they added that after our earlier, ~3k attached files, abuses of SB.

[2016-03-17 18:46] jread-usgs commented on #187
nasty hobbitz

[2016-03-17 19:55] sckott commented on #187
Do we know the number is 100 for sure?

[2016-03-17 19:59] jread-usgs commented on #187
That is what I hit before getting this goofy fail every time I tried another file. I haven't asked them to confirm though

[2016-03-21 20:28] jread-usgs opened #188 "function to rename file?"
This would be useful for archiving a previous file version:

filename = '2016-01-01.rds'

want to rename it to
filename = '2016-01-01_ARCHIVED.rds'

or something like that. Thoughts on why this should or should not be in sbtools?

[2016-03-21 20:32] lawinslow commented on #188
You're talking about re-naming a file attached to an item on SB, right?

[2016-03-21 20:37] jread-usgs commented on #188
exactly.

So instead of
`item_rm_files(sb_id, filename)` then `item_append_files(sb_id, newfilenameoldfile)`

[2016-03-21 20:39] aappling-usgs commented on #188
we were just looking in the GUI and don't see a way to do it there, so until/unless ScienceBase makes this feature directly available, the proposed function would just wrap the two functions @jread-usgs just mentioned. it could still be conceptually useful, though, and would clean up client code. then if ScienceBase ever offers an API version, the implementation of this sbtools function could be u

[2016-03-21 20:40] lawinslow commented on #188
Yeah, I don't know of an API-direct way. One of the dangers is a failure somewhere in the middle. We'd need to Download, rename, delete old file on SB item, and then upload with new name. Most dangerous would be failure between delete and upload.

[2016-03-21 20:42] jread-usgs commented on #188
maybe it is just best to wait on this w/ an open issue as a wontfix and ask SB what they recommend or try to push to expose a service that would do it.
---
Jordan Read, PhD | U.S. Geological Survey | Office of Water Information
608-821-3922 | water • data • science <http://cida.usgs.gov/datascience.html>

[2016-03-21 20:44] aappling-usgs commented on #188
hmm, good point, @lawinslow. actually raises the issue of how to do this safely in mda.streams, @jread-usgs . for either/both sbtools and mda.streams, this functionality could be done in the order

download, rename, upload with new name, check for new file on SB & stop/retry if missing, delete old file on SB.

asking SB for a service is also a good idea.

[2016-03-21 20:47] jread-usgs commented on #188
just emailed.

[2016-03-22 14:34] jread-usgs commented on #188
response:
[code]
so maybe this can already be done with `item_update(sb_id, info, ..., session = current_session())`?

Not sure (haven't tested), but if so, should we expose the higher level `item_rename_files()`?

[2016-03-22 15:07] lawinslow commented on #188
Yeah, this works.

[code]
![image](https://cloud.githubusercontent.com/assets/347600/13956231/e4fa810c-f015-11e5-85eb-3c359d380fe4.png)

[2016-04-08 17:30] #186 closed

[2016-04-08 17:33] ldecicco-USGS commented on #141
I just got bit with this again....it's my fault I know, but...could we set a default argument to all=FALSE, so you really need to mean it when you want to delete all your stuff versus just replace one file?

[2016-04-08 17:35] appling commented on #141
I'll :+1: that preference, having worked with this function a few times since January -- `all=FALSE` would be more intuitive to me, too

[2016-04-10 20:31] aappling-usgs opened #193 "query_item_in_folder returns parentless items"
`query_item_in_folder` returns items whose parentID field is empty. as a consequence, calling `item_get_parent` on a result from `query_item_in_folder` returns NULL.
[code]

there are a couple of workarounds - both involve extracting the item id and calling as.sbitem on the id rather than on the original sbitem. would be nice if this were not necessary.
[code]

solutions:

first probably check whe

[2016-04-10 20:52] aappling-usgs opened #194 "make query_item_identifier consistent with other queries"
`query_item_in_folder` now wraps `query_sb`, which returns a list of `sbitems` (or an empty list). this seems to be the new convention -- `query_sb_spatial`, etc. also wrap `query_sb`. but `query_item_identifier` still follows the old convention of returning a data.frame with columns `title` and `id`. want to switch that one to return a list of sbitems as well?

`query_item_identifier`
[code]

`qu

[2016-04-11 14:42] lawinslow commented on #194
Yeah, that's the ultimate goal. Those should all be switched over, though I hesitate only because I know it will break things others are doing. I guess that's why it's version 0.X.X.

[2016-04-11 14:43] #141 closed

[2016-04-11 14:43] #188 closed

[2016-04-11 14:45] aappling-usgs commented on #194
at this point most helpful thing for my use of sbtools (and maybe others') would be a NEWS file with information on interface changes. i'm prepared to make this switch - already had to make it halfway because of the change in behavior to `query_item_in_folder` - just need to know when it happens.

[2016-04-11 16:04] sckott commented on #194
agree, good to have a NEWS (or NEWS.md file) - I also like to paste each version's notes in releases associated with the git tag for that version, but just MHO

[2016-04-11 16:07] aappling-usgs commented on #194
good idea! i'm gonna start doing that in other projects, too

[2016-04-11 20:29] lawinslow commented on #194
Ok, this is now consistent in the latest version.

[2016-04-11 20:29] #194 closed

[2016-04-11 20:34] lawinslow commented on #193
This as originally a strategic choice. When creating the sbitem list, I don't want a round-trip for every returned item. That could really negatively impact the performance of that function. Instead, I build an object around the information returned without hitting SB again. Unfortunately, by default, parentId and some other metadata were not returned.

I've updated the `query_sb` function to, by

[2016-04-11 20:40] lawinslow commented on #187
I've added a warning when posting large lists of files. Not a lot more I can do on the client side.

[2016-04-12 14:21] #193 closed

[2016-05-10 18:07] ldecicco-USGS opened #199 "Error in UseMethod("as.sbitem")"
Gah....the vocabulary of sciencebase is driving me insane (not sbtools....). But anyway, I'm logged in, and there's a page I have access to and can see that looks like this:

https://www.sciencebase.gov/catalog/item/570eaf6be4b0ef3b7ca2565e

If I also log in via `sbtools` using `authenticate_sb`, I'm seeing:

[code]

This (I think) is the root problem that is preventing me from adding files?

[cod

[2016-05-10 19:25] lawinslow commented on #199
is.sbitem doesn't it SB. It is asking if the item you are passing is a valid SB item object. (like is.numeric).  So passing it a string `is.sbitem("570eaf6be4b0ef3b7ca2565e")` will always return false.

I don't know what's happening with `item_append_files`. Object of class NULL? Is item.id you're passing set?

[2016-05-10 19:34] lawinslow commented on #199
Also, you may be looking for `identifier_exists`

[2016-05-10 20:56] sckott commented on #199
@ldecicco-USGS seems that somehow the identifier you are passing when you get that error is `NULL` - since the `as.sbitem()` function has methods for character, list, and sbitem, and everything else it throws an error on

[2016-05-10 21:25] ldecicco-USGS commented on #199
Yeah, it seems to think it is NULL, but I have no idea why it thinks it's NULL. The string ("570eaf6be4b0ef3b7ca2565e") is working for nearly all the `sbtools` functions except `item_append_files`....which is when I get this weird NULL message. I'll just add them by hand via the website. I should be able to upload different kind of files though, right? I'm trying a csv and xlsx.

[2016-05-10 21:34] lawinslow commented on #199
What's your `sbtools` version? I can't re-produce the NULL issue.

[2016-05-10 21:34] sckott commented on #199
note that `item_append_files()` internally calls `as.sbitem()` on the input id, so you don't need to convert it to an sbitem class first, can just pass in the string id

[2016-05-31 15:34] aappling-usgs opened #204 "authenticate_sb attempts readPassword from RGui"
`readPassword` checks for whether .rs.askForPassword exists (i.e., whether we're in RStudio or not) before calling it as a function, but we're still getting this error when `authenticate_sb` is called from RGui:
[code]
I'm guessing that `readPassword` worked splendidly until we fixed the R CMD check NOTE about globally defined variables by adding this line: https://github.com/USGS-R/sbtools/blob/m

[2016-05-31 15:39] lawinslow commented on #204
Yeah, probably the issue. Can it be better dealt with with Hadley's answer [here](http://stackoverflow.com/a/12429344/1596891)?

[2016-05-31 15:43] aappling-usgs commented on #204
Good idea! I'll try it.

[2016-05-31 16:50] #204 closed

[2016-07-07 18:02] #199 closed

[2016-07-07 18:03] ldecicco-USGS opened #213 "RETRY"
`httr` now has a `RETRY` function...that would be super helpful to implement here.

[2016-07-08 18:47] ldecicco-USGS opened #214 "differences in items_create and item_create"
I tried a workflow like this:
[code]
and 2 children items were created, one that's empty, and one that has the file and identifier.

If I use this:
[code]
It works as I would expect.

Maybe a bug?

[2016-07-28 17:08] lawinslow commented on #214
@ldecicco-USGS I can't re-create this issue. The first workflow example fails for me. `itemCreated` is not a list of items, so sub-setting it using `[[1]]` gives you object contents, not a single sbitem object. The second two commands then error for me `Error: No 'as.sbitem' method for class NULL` as $id returns NULL.
Are you still having this issue? Can you re-create it?

[2016-07-28 19:55] ldecicco-USGS commented on #214
[code]
![image](https://cloud.githubusercontent.com/assets/1105215/17227304/4df11582-54d3-11e6-908a-2bf4aa6b1bdf.png)

[2016-07-28 20:07] lawinslow commented on #214
Ah, I missed that you were using item**s**_create.

[2016-07-28 20:24] lawinslow commented on #214
Ok, valid bug. I don't understand why the parentID is being duplicated 2x [here](https://github.com/USGS-R/sbtools/blob/master/R/items_create.R#L61). Also, supposedly supports multiple parentIDs, but it doesn't seem to work. Fails with `Error: length(url) == 1 is not TRUE` when `as.sbitem` is called on multiple id's.

[2016-08-03 13:47] ldecicco-USGS opened #216 "item_rm broke"
Then example in item_rm doesn't work:

[code]

I also tried just the character id, with the same result:
[code]

[2016-08-03 15:25] lawinslow commented on #216
Weird. First time I tried it, I got the same error. Now I can't re-create the error. Could you re-try? I wonder if it was a SB hiccup.

[2016-08-04 13:58] ldecicco-USGS commented on #216
I'm still getting it today....
[code]

[2016-08-04 14:17] lawinslow commented on #216
@ldecicco-USGS can you try using 1.0.4 `devtools::install_github('USGS-R/sbtools')` and see if it fixes your issue?

[2016-08-04 14:44] ldecicco-USGS commented on #216
That seemed to work

[2016-08-04 14:44] #216 closed

[2016-08-09 19:13] ldecicco-USGS opened #217 "Alter `item_list_children` to use `query_sb` internally"
If you have more than 1000 children, this function becomes useless (unless there's a trick I'm missing). The `query_items` seems to support an offset.

[2016-08-09 19:43] lawinslow commented on #217
No, you're probably right. `item_list_children` is limited to 1000 as it doesn't do paging.

`query_sb` does automatic paging for you so you can exceed 1000 limit.

`query_sb(list(parentId=user_id()), limit=2000)`

`limit` can be as as large a number as you're willing to wait for, though paging is limited to 1k blocks, so 100k items would take 100 round trips to SB.

[2016-08-09 19:49] lawinslow commented on #217
I'm going to edit this. Really, item_list_children should just leverage `query_sb`.

[2016-08-18 15:45] jread-usgs opened #218 "Add user-agent to package?"
looks like SB has a test service to capture these strings up an running (or close to it). Patterns for this exist in dataRetrieval or geoknife.

[2016-08-18 17:12] sckott commented on #218
this is how I do in `rgbif` https://github.com/ropensci/rgbif/blob/86cf49217fffb6df8c16c9f9b90fe137b356de4b/R/zzz.r#L293-L305 - was told that sometimes the typical user agent header is dropped, so also include a `X-USER-AGENT` header

[2016-08-18 17:15] lawinslow commented on #218
interesting, main goal here is for tracking with SB. @jread-usgs you in contact with them? Want to check they track X-USER-AGENT as well?

[2016-08-18 20:09] jread-usgs commented on #218
Sure, I will make contact and find out. Good idea. Thanks.

[2016-08-19 12:24] #218 closed

[2016-08-19 12:24] #217 closed

[2016-08-19 12:24] #214 closed

[2016-09-09 16:14] ldecicco-USGS opened #220 "Link to paper?"
Can you guys put the link to the paper somewhere here? Like, maybe on the readme or in the github description.

[2016-09-09 16:16] ldecicco-USGS commented on #220
Also, probably want to put a CITATION file in inst.

[2016-09-09 16:18] lawinslow commented on #220
Well, was just going to say I haven't done this because it hasn't gotten out of the pre-pub stage, but just checked and it's through!
https://journal.r-project.org/archive/2016-1/winslow-chamberlain-appling-etal.pdf

Of course I was notified of this....

[2016-09-09 16:24] lawinslow commented on #220
Interesting, I thought all the R Journal articles got DOI's. But they don't.

[2016-09-09 17:15] #220 closed

[2016-09-09 18:36] sckott commented on #220
yeah, noticed that too, have asked about it, but not sure if it's on their roadmap

[2016-11-23 21:51] wdwatkins opened #224 "https .gov changeover"
Only one here 😃

- [x] https://github.com/USGS-R/sbtools/blob/master/README.md#L8

[2017-01-13 21:26] #224 closed

[2017-01-15 15:17] jordansread opened #226 "as.sbitem NULL error on 404 response with item_update"
if I get to the `sbtools_PUT()` within `item_update()` and get back a 404 for the response:
[code]
the error block isn't hit because the names of `content(r)` are `NULL`, so then
[code]
fails with
[code]
It looks like the case I am running into here is when the item no longer exists, which is odd, because the code I use before hitting this queries for the files associated with that items and the i

[2017-01-15 23:17] jread-usgs commented on #226
edit - the case here is that I have read access to the item, but not write access.

[2017-01-18 19:25] jiwalker-usgs opened #227 "1.1.6 needs to be merged to canonical"
currently the CRAN release is the master branch on @lawinslow's fork, this needs to be pulled back to canonical.

[2017-01-18 19:27] lawinslow commented on #227
Sorry about that. Made a PR, will need to be conflict resolved.

[2017-02-06 18:13] #227 closed

[2017-02-22 14:54] supercasey opened #230 "Change the Title of a File"
I'm uploading files to different pages within SB.  I'd like to be able to include a "Title" (not the file name) for the files I upload so that when users land on the page they have an idea what each file represents.  See the "hello" in the attached screenshot.  Is there a way to do this in the SB package?

![image](https://cloud.githubusercontent.com/assets/3651871/23216678/6bc9b16a-f8dc-11e6-88dc

[2017-02-22 16:25] jkreft-usgs commented on #230
looks like adding a title is on page 395 of the paper describing use of sbtools item_create:

![image](https://cloud.githubusercontent.com/assets/8128936/23220917/12bd359e-f8e9-11e6-9bdb-75793b4dfdab.png)

The whole paper is available [here.](https://journal.r-project.org/archive/2016-1/winslow-chamberlain-appling-etal.pdf)

[2017-02-22 16:27] supercasey commented on #230
That is for adding an item as opposed to a file.  I think the process for creating an item is different than for adding a file.

[2017-02-22 22:46] jread-usgs commented on #230
you can kind of hack this in if you need to, but I would be careful and wouldn't advise doing it. Perhaps we need to expose the file title in the "append_files" function. I don't think that was a field originally.

The `files` field in the item is a list in R (is SB json otherwise) and you can modify it and then update the item.

[code]
and that works.
![image](https://cloud.githubusercontent.com/

[2017-02-22 23:21] jread-usgs opened #231 "expose "title"

[2017-02-22 23:25] jordansread opened #232 "expose "title" to item_append_files, item_rename_files, and other file related functions"
`title` is now a user editable field for individual files. The functionality to change or specify this field within `sbtools` was mentioned in #230 . This issue is to capture implementation details and decide on whether it is a priority for users.

Some questions that help with priority: Can we search for files based on title, or do other things with it? Right now we can find and replace files bas

[2017-02-22 23:30] jread-usgs commented on #232
Looks like this would need to happen in [`multi_file_body`](https://github.com/USGS-R/sbtools/blob/b69a8872bf568080fd18d1ac67a5d7197c0aa7c1/R/file_helpers.R#L8)

For giving it a title on initial upload.

[2017-02-23 13:26] jread-usgs commented on #232
I was wrong about ☝️ multi_file, I think this needs to happen as two events - the file post and then the title update on the item. One snag to that is the need to verify which file is the one to update the title on.

[2017-02-23 19:28] supercasey commented on #230
Great, thanks for the help.

[2017-02-24 15:18] jread-usgs commented on #230
@supercasey is that helpful? Also, can you give us an idea of how much of a priority this is for you and others?

[2017-02-24 15:23] supercasey commented on #230
Yes, that was very helpful, I was able to loop through 116 separate pages and title 4-8 files each.  I would think other users that need to upload large numbers of files would like the functionality, but it may be as simple as placing your proposed fix as an example in the item_update function, there isn't much documentation in the package or in the journal article as to how to use the info argume

[2017-02-28 21:21] ldecicco-USGS opened #233 "item_update_identifier doesn't update, only adds"
What I've noticed at least.

[2017-07-03 18:52] aappling-usgs opened #234 "update example that searches for old package maintainer"
[code]
currently includes this example:
[code]
which should probably become
[code]

[2017-07-03 19:17] aappling-usgs opened #235 "expand query_sb_doi to include all probable Schemes for DOI"
It looks to me like there are more possible Schemes for DOIs than currently recognized by `query_sb_doi`. For the use case of trying to query for https://www.sciencebase.gov/catalog/item/570bbfa7e4b0ef3b7ca0294a by DOI:

using the scheme embedded in `query_sb_doi`:
[code]

using the scheme I see in the Identifiers section of https://www.sciencebase.gov/catalog/item/570bbfa7e4b0ef3b7ca0294a:
[code]

[2017-07-05 13:04] lawinslow commented on #235
Comparison:

~12k public entries with this scheme

~1300 public entries.

Maybe it should be switched. Or added as an additional query. It seems to be winning the standard war.

[2017-07-05 16:34] lindsaycarr opened #236 "Document Lucene queries in query_sb()"
Lucene queries are available, though not correctly documented in `?query_sb` - it's lq, not q. Also, lucene queries only work when a regular query is also defined, but it should work even if there isn't a q in the query_list.

Ex:
[code]

[2017-07-05 19:15] lindsayplatt opened #237 "Empty lists returned for many spatial queries"
All of these queries that cover the US are returning an empty list. I verified the lat/long points by plotting them on a map.

[code]

Verifying points:
[code]

![image](https://user-images.githubusercontent.com/13220910/27880940-cbaae308-6194-11e7-9504-e6db37eb6c50.png)

[2017-07-05 19:16] aappling-usgs opened #238 "enable exclusion queries"
ScienceBase lets you explicitly exclude items that match criteria; see "Exclude Elements in Search Results" in https://www.sciencebase.gov/about/content/sciencebase-advanced-search. It would be great if this were also possible through sbtools, but if it is already possible, I can't figure out how to do it.

Using my browser directly,
`https://www.sciencebase.gov/catalog/items?q=&lq=flood%20AND%20e

[2017-07-06 18:18] aappling-usgs opened #239 "item_upsert never updates"
I can't find a way to call `item_upsert` such that it updates rather than creates a new item.

After logging in:
[code]

I had expected the tests to yield `TRUE` - i.e., `item_upsert` should update rather than create an existing item if the titles match. The two calls to `item_upsert` in the Examples section of the help document also produce two distinct items, despite the claim that the second ca

[2017-07-06 18:25] aappling-usgs opened #240 "could item_upsert be more flexible or rigid?"
If you create a new item using `item_upsert` with the title in `info` rather than `title`, the value in `info$title` gets silently ignored.

After logging in:
[code]

Possible approaches to clarify/change this behavior:
1. Make `item_upsert` more clearly restrictive: either noisily override `title` with `info$title` if `info$title` exists, or always throw an error if `title` is included in `info`.

[2017-07-06 19:08] lindsayplatt opened #241 "Better error for user_id() when not authenticated?"
Unhelpful error when you are not authenticated and attempt to get your user_id:

[code]

[2017-07-06 19:21] aappling-usgs opened #242 "items_create ignores multiple parents"
I want the following code to create the following items under `user_id()`:
[code]

Here's the code:
[code]

What I get is three items nested under bigitem instead of bigitem and 'top-level item' being siblings:
[code]

I think this is a bug, and I think it's due to a faulty `else` option in this line: https://github.com/USGS-R/sbtools/blob/master/R/items_create.R#L61. Rather than the current line,

[2017-07-07 14:22] lindsayplatt opened #243 "prevent people from deleting user ids"
So, I thought I had found a super slick way to delete all items within my account (I had nothing but stuff used to test out the sbtools distance learning lesson), but turns out I deleted my user id or something.

I ran this [DON'T DO IT] which in hindsight was not so brilliant:

[code]

Then tried to get info about my user id with no luck.
[code]

When I go to the site and click on "My Items" from

[2017-07-17 23:18] aappling-usgs opened #244 "item_get_wfs is rarely successful"
We've struggled to find example items for which `item_get_wfs` actually returns a WFS; see https://github.com/USGS-R/training-curriculum/issues/276. Below is a summary of that exploration.

I tested 100 items, all of which had `browseType=OGC+WFS+Layer` (https://www.sciencebase.gov/catalog/items?q=&filter0=browseType=OGC+WFS+Layer)

Of the 100, only 3 returned something plottable with `item_get_wf

[2017-07-17 23:55] lawinslow commented on #244
Background: `item_get_wfs` was never really a priority initially. There were few examples of its use on ScienceBase. Further, as you have found, implementation on SB itself varies.

The bigger overarching question is, why is there no WFS/WMS library for R? With R devloping so much accessible spatial processing functionality, it's something sorely needed.

[2017-07-18 00:20] aappling-usgs commented on #244
Understood. The existence of `item_get_wfs` does raise the question of how to deal with it now, though - if it remains a non-priority, maybe it should be deprecated until the day when a WFS/WMS library does exist? Should our [USGS packages curriculum](https://github.com/USGS-R/training-curriculum/pull/272) mention this function at all?

[2017-07-18 14:39] lawinslow commented on #244
Depends on your perspective. I tend to take a demand-driven approach. Put it out there, see if people send feedback. It seems to be an intriguing enough feature for you guys to have gone digging into it. Maybe that's a sign it is worth more development? Definitely a judgment call.

[2017-07-20 14:11] lindsaycarr commented on #242
used in the DL curriculum, so would be good to fix

[2017-07-20 14:49] aappling-usgs commented on #242
Seems reasonable to me. @lindsaycarr , you up for taking this one?

[2017-10-05 15:00] aappling-usgs commented on #187
@jread-usgs - here's the associated issue you mentioned. Your notes from slack on the current experience from sbtools user perspective, posting many files 1 at a time:

[code]
i like the idea of catching the cryptic error right where it happens and providing an interpretive message, e.g., "this error can occur if you try to post more than 100 files to a single item"

[2017-10-05 16:49] jread-usgs commented on #187
Note the UI throws an error on save, but does let you upload the 101st file:
![image](https://user-images.githubusercontent.com/2349007/31239583-3606fe32-a9c3-11e7-8c89-359d3a565956.png)

[2017-10-05 16:51] aappling-usgs commented on #187
Goofy. Can you upload the 102nd in the same way?

[2017-10-05 17:18] jread-usgs commented on #187
yes, same deal. You can upload 101 and 102, but the save is what fails

[2018-06-25 13:51] mlombard-usgs opened #247 "Is it possible to access non-public data through url? I have permission to access the data."
I would like to access data from a non-public item on sciencebase through the url and not have to download it.  Is this possible?  I can't seem to get it to work.    I tried accessing the url in 2 different ways, both of which work with publicly available data.

Code with notes and output is below.  Thanks!

`library(sbtools)`
`library(data.table)`
`authenticate_sb(username = "mlombard@usgs.gov")`

[2018-06-26 12:28] mlombard-usgs commented on #247
Thanks for that explanation @jread-usgs   That makes sense.

```item file download```  is not ideal because a few different people will be accessing the data and working with it.   So in an effort to maintain version control of the data I was hoping to avoid everyone having to download the data locally in order to work with it in R.

[2018-06-26 12:36] jread-usgs commented on #247
I see, you want to force all collaborators to read the data from SB each time and not rely on a local file (which could differ from the SB file eventually). Instead you could give them code like:
[code]
and have them call `get_collab_data()`, which is the same result as your initial `fread`

[2018-06-27 13:05] lawinslow commented on #247
@mlombard-usgs You could try using the authentication token directly and use `httr` to access the data. That would allow you to read the file directly into R, skipping the intermediate file step. Though it may complicate reading and parsing the file itself.

Something like this should work, though I don't have a good way to test it right now.

[code]
Then, you could parse the result (see `httr` do

[2018-06-28 16:03] mlombard-usgs commented on #247
Thanks guys.  I tried both approaches.  Jordan - I couldn't get your function to work.

Luke - your solution looks like it works.

[2018-06-28 16:06] jread-usgs commented on #247
Looks like mine was missing a `)` on the end of `local_file <- file.path(tempdir(), filename`. Did it fail somewhere else? Just curious. Glad Luke's works for you :+1:

[2018-06-28 16:43] mlombard-usgs commented on #247
The code below works.  I think I tried it once when I wasn't logged in and got a file not found error.  My bad.

[code]

[2018-08-06 19:41] ldecicco-USGS opened #248 "Update disclaimer"
The wording on the disclaimer is out of date. Please change to the following:

"This software has been approved for release by the U.S. Geological Survey (USGS). Although the software has been subjected to rigorous review, the USGS reserves the right to update the software as needed pursuant to further analysis and review. No warranty, expressed or implied, is made by the USGS or the U.S. Governme

[2019-06-03 16:49] jsta opened #250 "sbtools is archived on CRAN"
https://cran.r-project.org/web/packages/sbtools/index.html

Formerly available versions can be obtained from the archive.
Archived on 2019-05-13 for policy violation.

[2019-06-03 17:34] lawinslow commented on #250
@tim kern

On Mon, Jun 3, 2019 at 12:49 PM Joseph Stachelek <notifications@github.com>
wrote:

[2019-06-10 12:09] jsta commented on #250
I was able to pull the check fail details with the `ccheck` package:

[code]
[code]

[2019-06-12 15:08] jsta commented on #250
Maybe moving [this line](https://github.com/USGS-R/sbtools/blob/master/R/item_get.R#L15) into the `dontrun` block would solve the issue?

[2019-12-11 19:54] dblodgett-usgs commented on #250
I switched the examples to `donttest` -- from [here](https://kbroman.org/pkg_primer/pages/tests.html)

PR is incoming.

[2019-12-16 11:51] #250 closed

[2019-12-16 20:08] dblodgett-usgs opened #252 "Demo item used is missing..."
This item: 55e372b9e4b05561fa208212 is not available publically. Is there a better one to use? I've got a PR coming that uses different ones for a few things, but not knowing what it was, I don't really know what I removed!

[2019-12-16 20:15] dblodgett-usgs commented on #244
Just dug into item_get_wfs and updated it to use sf and geojson rather than writing a shape/zip to disc. My preference would be to remove that functionality entirely to remove the dependency on sp and sf. Anyone have a preference?

[2019-12-16 21:12] aappling-usgs commented on #244
No objection here.

[2019-12-29 20:04] katherinejchase opened #254 "sbtools not available for R v.3.6.2?"
I get the following warning when I try to install.package "sbtools":

  package ‘sbtools’ is not available (for R version 3.6.2)

[2019-12-29 22:34] dblodgett-usgs commented on #254
Hi @katherinejchase -- assuming you have `remotes`, can you do:
`remotes::install_github("usgs-r/sbtools")` and see if that does the trick?

I would imagine a new gran build would do the trick as well -- at the end of the day, we need to get sbtools back on CRAN though.

[2019-12-29 22:49] katherinejchase commented on #254
Thank you for your quick response! I used the script from the USGS page and it worked:
install.packages("sbtools", repos=c("https://owi.usgs.gov/R",getOption("repos")))

[2019-12-29 22:56] dblodgett-usgs commented on #254
Ahh. Great. Yes, since `sbtools` is not on CRAN, the basic install.packages("sbtools") will not work for now.

[2019-12-29 23:01] #254 closed

[2019-12-30 12:47] #248 closed

[2020-01-06 15:13] #252 closed

[2020-04-20 11:50] dblodgett-usgs opened #257 "Some tests still hit web-resources on CRAN"
Need to "donttest" tests that need web resources.

[2020-04-20 12:08] #257 closed

[2020-05-13 14:53] ldecicco-USGS opened #259 "Remove GRAN installation instructions"
Please remove the GRAN installation instructions as we work towards archiving the GRAN repository. Consider changing the `install_github` to use the "remotes" package (a much lighter weight package than devtools).

[2020-05-13 15:10] jread-usgs commented on #259
@dblodgett-usgs can you take this one?

[2020-05-13 15:11] #259 closed

[2020-05-13 15:12] dblodgett-usgs commented on #259
Fixed in README. Are there other places that we might have referenced GRAN of the years?

[2020-09-09 01:49] trashbirdecology opened #262 "item_file_download() incorrect error message"
Haven't had time to look deeper into this, but when running parameter "overwrite=FALSE" on `item_file_download()` I get the warning that "overwrite is FALSE".
[code]

The path does exist but overwrite was TRUE.

[2020-09-09 01:52] jread-usgs commented on #262
hmm.... seems the error message may be wrong in this?

`overwrite_file` is the arg name, so `overwrite` will get passed into the `...` of the arguments and not used.

[2020-09-09 01:53] trashbirdecology commented on #262
Aha, lol my bad

[2020-09-09 01:54] trashbirdecology commented on #262
My bad ...

[2020-09-09 01:57] trashbirdecology commented on #262
While you're here, though, I am trying to figure out why item_file_download isn't retrieving ALL files associated with the item.... I am not seeing, for example, file "RegionCodes.txt" for item "[5ea04e9a82cefae35a129d65](https://www.sciencebase.gov/catalog/item/5d65256ae4b09b198a26c1d7)".

[code]

[2020-09-09 12:46] dblodgett-usgs commented on #262
This should include: "RegionCodes.txt"

I see it in the item JSON: https://www.sciencebase.gov/catalog/item/5d65256ae4b09b198a26c1d7?format=json

Will have a look.

[code]
<sup>Created on 2020-09-09 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-09-09 13:02] dblodgett-usgs commented on #262
OK -- it's because we have a bunch of mixed up IDs.

[code]
<sup>Created on 2020-09-09 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-09-09 13:02] #262 closed

[2020-09-09 13:08] trashbirdecology commented on #262
Mixed up IDs? New issue (I would like to be notified when this is resolved)

[2020-09-09 13:36] jread-usgs commented on #262
I didn't end up finishing my other comment in response to this. It was something along the lines of "I don't tend to use `_download` to get all the files w/o specifying them. I either specify one, or specify a vector of files I want. Does your query work when you use output of `sbtools::item_list_files("5d65256ae4b09b198a26c1d7")$fname` as input to the `_download` call? Like Dave's example, but us

[2020-09-09 13:42] dblodgett-usgs commented on #262
Sorry -- rushing through here. If you look closely at the various IDs above, they are all mixed up.

The link is to:
"5d65256ae4b09b198a26c1d7": https://www.sciencebase.gov/catalog/item/5d65256ae4b09b198a26c1d7

The link text is:
"5ea04e9a82cefae35a129d65": https://www.sciencebase.gov/catalog/item/5ea04e9a82cefae35a129d65

and the example code is:
"52b1dfa8e4b0d9b325230cd9": https://www.sciencebas

[2020-09-09 16:09] trashbirdecology commented on #262
:| Thanks

[2020-09-09 16:10] trashbirdecology commented on #262
It's becoming clear that I was working too late, especially after having not coded in...months.

[2020-11-30 22:30] dblodgett-usgs opened #265 "item_list_files(recursive=TRUE) doens't seem to work."
Need to test a few scenarios but:
[code]

is clearly a bug.

[2020-11-30 22:33] dblodgett-usgs commented on #247
Going to close as fixed.

[2020-11-30 22:33] #247 closed

[2020-11-30 22:34] dblodgett-usgs commented on #243
I want to work on testing of the item manipulation functions... will add this to the list in that work.

[2020-11-30 22:36] dblodgett-usgs commented on #241
[code]

[2020-11-30 22:36] #241 closed

[2020-11-30 22:43] dblodgett-usgs commented on #237
[code]

[2020-11-30 22:43] #237 closed

[2020-11-30 22:54] dblodgett-usgs commented on #240
upsert has always confused me. I want to go through and test a number of things that are currently untested and make sure they are documented clearly. Will work on this as part of that.

[2020-12-01 15:00] lindsayplatt commented on #237
@dblodgett-usgs seems like there are two things here: 1) the `long/lat` and `bb_wkt` spatial query methods are working now, and 2) you cannot use the `bbox` method with `sp::SpatialPoints`?

[2020-12-01 20:44] dblodgett-usgs commented on #237
That was actually a ScienceBase glitch that I missed when making the reprex.
    library(sbtools)
    conus <- data.frame(
        lat = c(49.078148, 47.575022, 32.914614, 25.000481),
        long = c(-124.722111, -67.996898, -118.270335, -80.125804))

    length(query_sb_spatial(
        bbox = sp::SpatialPoints(
            conus, proj4string = sp::CRS("+proj=longlat +datum=NAD27"))))
    #> Loa

[2020-12-01 21:34] dblodgett-usgs commented on #265
I fixed this in #266 -- https://github.com/USGS-R/sbtools/pull/266/commits/59f2a01138dc74deec1b3d8891998f6db2ce1f38

[2020-12-01 21:34] #265 closed

[2020-12-02 23:11] jread-usgs opened #267 "does sbtools::item_replace_files() handle more than one file at a time?"
From the function name, it seems this should support multi-file uploads, but from the documentation, it doesn't:

It seems to actually work for me...(I am on version 1.1.12)

[2020-12-03 02:44] dblodgett-usgs commented on #267
I'll get this tested and fixed up in the block of work I'm queuing up.

[2020-12-05 21:35] #234 closed

[2020-12-10 14:39] dblodgett-usgs opened #268 "code.json formatting"
code.json should reference old releases.
[
  {
    "status": "Development",
    "version": "1.1.13-dev"
    ...
    "...URL": ".../master/..."
  },
  {
    "status": "Production",
    "version": "1.1.12"
    ...
    "...URL": ".../1.1.12/..."
  },
  {
    "status": "Production",
    "version": "1.1.11"
    ...
    "...URL": ".../1.1.11/..."
  },
]

[2020-12-10 14:40] dblodgett-usgs opened #269 "Have disclaimer in README be preliminary."
The released disclaimer should only show up in tagged versions so it should be removed from the README or modified every release.

[2021-01-26 17:39] csimeone-usgs opened #271 "Allow item_file_download() to throw warning not error when file exists and overwrite=FALSE"
In the item_file_download() function if a file already exists in my download directory and overwrite = FALSE then an error is thrown and the function stops. This happens even if there are additional files within that item that I don't have in my download directory. It could be a useful enhancement to allow the function to return an warning not and error and continue to download the remaining file

[2021-02-22 21:50] jread-usgs opened #272 "Funky error when you have read access but not write access and trying to do a write action"
When you do not have either read or write access to an item, you will get this nice error
[code]
[code]

If you only have read access but not write, you will get this:
[code]
which is kind of a head-scratcher. If we're able to throw a useful error here it would probably save people some time.

[2021-03-15 16:31] jread-usgs opened #273 "NetCDF files are uploading as "extensions" and not as "files""
This may be a recent change in SB services and handling of these files. But it makes it challenging to rely on functions like `item_list_files()` since extensions don't show up there

![image](https://user-images.githubusercontent.com/2349007/111186059-a24a0480-8580-11eb-95a5-e6c0cb79631b.png)

[2021-03-29 11:19] dblodgett-usgs commented on #273
I wonder if there is a way to turn off extension creation. Will ping the ScienceBase team to see what we might be able to do.

[2021-03-29 12:43] dblodgett-usgs commented on #273
I actually think this might be a bug on the SB side. I just uploaded a netcdf file and it created an OPeNDAP extension -- it shouldn't be doing that. Will see what I hear back from them.

[2021-03-29 13:20] dblodgett-usgs commented on #272
Should be handled here. https://github.com/USGS-R/sbtools/blob/f35d7daee45db7e4502d8afa03d410744a331d7b/R/REST_helpers.R#L119

Will get to this next time I open up the project.

[2021-03-29 14:21] jread-usgs commented on #272
Would be good to make sure whatever fix goes in that it still creates extensions for FGDC compliant xml files.

[2021-04-05 18:23] jread-usgs commented on #273
Would be good if this also keeps .xml FGDC metadata working as-is 👍

[2021-04-05 21:52] dblodgett-usgs commented on #273
How do you feel about defaulting to scrape contents by default (the current behavior) but raise a message alerting the user that the file isn't in downloads if it doesn't end up in there after the upload is complete? e.g. in the .nc case, you would get a message saying the file got put into an extension rather than the item files.

[2021-04-06 10:47] jread-usgs commented on #273
That would make sense to me, and/or perhaps we create a warning message that we'd be changing the default behavior in the future to _not_ scrape unless arg is TRUE(?) and update that in the future to with a minor version change since I do agree it probably makes more sense to upload the file w/o fancy conversions as default.

I'm also assuming in your proposal that I could use an arg to specify th

[2021-04-06 13:14] dblodgett-usgs commented on #273
[code]

Yeah?

[2021-04-06 13:28] jread-usgs commented on #273
I don't know if `scrape_files` is an intuitive arg name for SB users. It is what the service is doing I guess, but perhaps "sb_extension" or something else?
Also I think it should have a default of single boolean but also support a vector of booleans of the same length of the vector of file names.

[2021-04-06 13:45] dblodgett-usgs commented on #273
yeah... I had the same sense. In some cases it adds extensions, in other cases, it just pulls metadata out (xml). I used that parameter to be consistent with the python package and actual SB services.

The vector option is a little complicated. We would have to iterate over the file list rather than upload a multi-file-body as is done now since this is a per-sb-call parameter. I think I'd rather p

[2021-04-06 18:39] jread-usgs commented on #273
Understood, I see. I think that makes sense to me

[2021-06-07 15:28] #273 closed

[2021-06-07 15:28] #268 closed

[2021-06-07 15:28] #269 closed

[2021-08-19 21:25] jread-usgs opened #275 "can't destdir be the current directory by default?"
[code]
seems default behavior should be that you specify the file names and those files are DL'd into your current directory.

[2021-08-20 20:32] dblodgett-usgs commented on #275
I feel like I've always been confused by the defaults of this function. Thought there was a reason it was this way. I would up vote your suggestion.

[2021-12-10 14:48] dblodgett-usgs commented on #244
I removed this in #276 as it was causing tests to fail.

[2021-12-10 14:48] #244 closed

[2021-12-10 14:52] dblodgett-usgs opened #277 "Allow easy access to files that are in sb item facets."
For shapefiles and geotiffs, the files end up in a facet, not in a normal file slot in the json object. This is the same issue as #165 I think.

Should work up a way to download facet files the same as regular files. Ideally, the end-user shouldn't really see the difference.

e.g.
[code]

<sup>Created on 2021-12-10 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2021-12-10 14:52] dblodgett-usgs commented on #165
superseded by #277

[2021-12-10 14:52] #165 closed

[2022-01-20 00:05] jesse-ross opened #278 "NOTICE: upcoming default branch name change"
The `master` branch of this repository will soon be renamed from `master` to `main`, as part of a coordinated change across the USGS-R and USGS-VIZLAB organizations.  This is part of a broader effort across the git community to use more inclusive language. For instance, [git](https://sfconservancy.org/news/2020/jun/23/gitbranchname/), [GitHub](https://github.com/github/renaming), and [GitLab](http

[2022-01-20 02:36] #278 closed

[2022-01-21 01:28] dblodgett-usgs commented on #277
Looking a bit more, I think this fits in sbtools in a couple places.

- [ ] `item_list_files()`
- [ ] `item_file_download()`
- [ ] `item_rm_files()`
- [ ] `item_replace_files()`
- [ ] `item_upload_files()`

The question is, how much separation needs to be maintained between "files" and files in "facets". Will look at the implementation of these and see what makes sense.

[2022-01-21 03:37] dblodgett-usgs commented on #277
I have this roughed in, at least for access.

I opted to use a very light hand -- I only needed to alter `item_list_files()`

See the PR I will open in a moment for details.

[2022-01-26 04:08] #275 closed

[2022-01-27 02:54] #277 closed

[2022-01-27 03:23] dblodgett-usgs commented on #271
Hey @csimeone-usgs -- sorry I didn't see this until I dug into old issues just now. I'm working up a fix for this with your suggestion.

[2022-01-27 03:47] dblodgett-usgs commented on #272
I'm finally getting around to looking at this and can't reproduce. I'm getting a full on failure when it's trying to item_rm_files() and can't because I don't have permission.

Is this something you can try to reproduce easily?

[2022-01-27 03:52] dblodgett-usgs commented on #272
Nevermind -- I got there.

[2022-01-27 14:41] csimeone-usgs commented on #271
Great, thanks!

[2022-02-03 14:08] #243 closed

[2022-02-03 14:08] #267 closed

[2022-03-23 01:51] dblodgett-usgs opened #281 "Upload directly to S3"
https://github.com/usgs/sciencebasepy/blob/master/demoEx2.py shows how to script uploads to S3.

@jllong-usgs -- do you mind outlining what is required? A quick glance leads me here. https://github.com/usgs/sciencebasepy/commit/5ca9f45a840900f7a27910e971253bf056ee9662

Pretty significant change eh?

Looking at: `upload_large_file_upload_session` why on earth did you have to implement all your own

[2022-03-26 20:43] dblodgett-usgs commented on #281
@jllong-usgs I'm starting to rough this in and just trying to get a minimal authentication to work. I think this is what sciencebasepy is doing but it's not working -- can you pinpoint what I'm getting wrong here?

[code]

[code]

[2022-03-28 16:15] dblodgett-usgs commented on #281
I was super close. Just needed the client_id to be `sciencebasepy` and it works.

[2022-03-30 21:13] dblodgett-usgs opened #283 "Non-public cloud files can not be accessed via code."
Files that are in the sb internal cloud are not accessible via API at this time. We should probably throw an error -- sounds like there may be a fix for this at some point though so just supporting cloud download could be an add on.

[2022-03-30 21:21] dblodgett-usgs commented on #283
Could atleast support public cloud files but it would need a slight modification to item_list_files.

[2022-04-02 01:03] #281 closed

[2022-05-03 02:51] dblodgett-usgs commented on #283
This is possible now. https://github.com/usgs/sciencebasepy/commit/cc2211680a87ee6c749866458b02d3ece6a98a40

[2022-05-14 02:01] dblodgett-usgs commented on #231
Going to need more to go on. Feel free to reopen if this is important.

[2022-05-14 02:01] #231 closed

[2022-05-14 12:01] jread-usgs commented on #231
ha! Definitely looks like a partial thought from back in 2017. No idea.

[2022-05-25 15:01] #283 closed

[2022-07-08 18:35] jread-usgs opened #286 "Consider `item_facet_download` to support .zip downloads of facet collections?"
One way to take advantage of the recent addition to sbtools that supports facet indexing is to also support downloads of those collections. The UI already takes advantage of this service when you click on the facet that represents a collection of unzipped files (e.g., https://www.sciencebase.gov/catalog/file/get/5f6a285d82ce38aaa244912e?facet=study_stream_reaches for the multi-part files in a shap

[2022-07-13 15:20] jread-usgs commented on #286
Hmm, I'm not following. That supports downloading the parts as separate files, but not the zip as a single file, right?

vs  https://www.sciencebase.gov/catalog/file/get/5f6a285d82ce38aaa244912e?facet=study_stream_reaches downloads the zip

[2022-07-13 15:31] dblodgett-usgs commented on #286
Ahh -- I see. Would this just be for shapefile facets?

[2022-07-14 01:11] dblodgett-usgs commented on #286
I see what you are suggesting now. Yeah - I'd also be happy to review/merge if someone wanted to contribute that functionality!

[2022-07-14 01:47] dblodgett-usgs opened #287 "failing donttest on CRAN"
https://www.stats.ox.ac.uk/pub/bdr/donttest/sbtools.out

Looks like a NULL response is getting used as if it is a list in https://github.com/USGS-R/sbtools/blob/main/R/item_get.R#L21

[2022-08-24 13:43] amart90 opened #291 "Minor. "authenticate_sb()" misspelled in error messages"
`authenticate_sb()` is misspelled `athenticate_sb()` in several error messages. They are:

- [R/authenticate_sb.R](https://github.com/USGS-R/sbtools/blob/f6b919a70860abac712d04ae0999872f952eb861/R/authenticate_sb.R), [line 101](https://github.com/USGS-R/sbtools/blob/f6b919a70860abac712d04ae0999872f952eb861/R/authenticate_sb.R#L101)
- [R/authenticate_sb.R](https://github.com/USGS-R/sbtools/blob/f6b

[2022-08-24 15:27] #291 closed

[2022-09-17 14:50] dblodgett-usgs opened #293 "File upload with checksum validation."
I've been doing some migrations to sciencebase that really need to have checksums. I prototyped the code to do it but need to get this into the package.

[code]

[2022-09-20 03:23] dblodgett-usgs commented on #293
From what I can tell, the implementation in #294 is fine. The issue is that it will not add extensions or metadata.

The "scrape" request returns an item template that the client needs to choose from and decide what to add to the item and what to leave off. In the web UI, there are a number of modal dialogues adding if you want to add extensions or not -- that kind of functionality would need to b

[2022-09-20 03:28] dblodgett-usgs commented on #293
To clarify with a bit of an example. If I upload a tif file then call "scrape" on it, I get this back.

The uploader I implemented here _only_ adds the first `files` element in the sbjson.

[code]

[2022-10-12 01:27] dblodgett-usgs commented on #293
Thanks @ennsk -- how about the cloud uploader? Testing it out in the large file uploader, no md5sum gets added through that avenue. Having done a little playing with checksums on S3, they don't actually calculate a checksum for the whole file since the etags are all checksums of the chunks of the file... might just not be possible with direct S3 data insertion?

[2022-10-12 01:37] dblodgett-usgs commented on #293
I just answered my own question in part.

[code]

So the ETag is the md5 sum of the chunk you upload. I can check that they correspond then update the md5sum with that of the file I have locally when finished?

[2022-10-12 02:04] dblodgett-usgs commented on #293
I went ahead and implemented this but I'm not able to update the checksum at the end? When I try the code in here: https://github.com/USGS-R/sbtools/pull/294/commits/c77a404d6c460255f76cf3fff688fcaae52b290a I get a 200 but the content of the checksum element doesn't change. Is that something you upated on dev but haven't gotten out to prod SB yet?

[2022-10-26 20:10] dblodgett-usgs commented on #293
We can now do:
[code]

[2022-10-28 01:31] #293 closed

[2022-11-02 02:36] dblodgett-usgs opened #295 "Large file uploads still not as robust as they need to be."
When large file uploads take longer than an active log in, things fail. This is a tricky one because refreshing the session requires re-entering a password.

I found the `keyring` package which will cache credentials in an OS-level credential manager. This makes me nervous, but I tried implementing it and it works really well.

Will get a PR up with the solution and still need to think about how t

[2022-11-03 03:41] dblodgett-usgs commented on #182
@aappling-usgs -- do you have any recollection of whether this issue really needs to still be open? It just cought my eye and I found it curious that it's open.

[2022-11-03 03:56] #213 closed

[2022-11-03 19:25] #295 closed

[2022-11-04 00:50] dblodgett-usgs opened #300 "fix up code.json"
[code]

[2022-11-29 03:51] dblodgett-usgs opened #302 "item_upload_cloud can't push data to the public bucket."
This was a bit of a hole in functionality that I needed to fill and went ahead and put it into a function. See #301